@mixin align-flex( $posicion ) {
    display: flex;
 
    @if $posicion ==  "izquierda" {
        justify-content: flex-start;
    }
 
    @else if  $posicion  ==  "centro" {
        justify-content: center;
        align-items: center;
    }
 
    @else if $posicion  ==  "derecha" {
        justify-content: flex-end;
    }
 }