
:root {
    --color-primario         : #1EF875;
    --color-primario-hover   : #1ddf6b;
    
    --color-secundario       : #222222;
    --color-secundario-hover : #303030;


    --color-texto-oscuro     : #141414;
    --color-texto-claro      : white;
}






