.error-404 {
    min-height: 80vh;
    text-align: center;

    .page-header{
        padding-top: 4em;

        .page-epigraphe {
            font-size: 3.9em;
            font-weight: 700;
            display:block;
        }

        .page-title {
            font-size: 1.5em;
            font-weight: 500;
            margin: 0;
        }
    }

    .page-button {
        display: inline-block;
        border-radius: 50px;
        padding: 0.8em 2em;
        color: var(--color-texto-oscuro);
        background-color: var(--color-primario);
        text-decoration: none;
        font-weight: 500;
        margin-top: 0.8em;

        &:hover {
            background-color: var(--color-primario-hover);
        }
    }
}

@media (max-width: 750px) {

    .error-404 {
        padding: 0 1em;

        .page-header {

            .page-epigraphe {
                font-size: 2.5em;
            }

            .page-title {
                font-size: 1.1em;
            }
        }
    }
}