.page-mi-cuenta {
    
    .site-main  {
        padding: 2em 0;
        min-height: 80vh;

        h1.entry-title {
            font-size: 2em;
            font-weight: 800;
            color: var(--color-texto-oscuro);
        }
    
        h2 {
            font-size: 1.3em;
            font-weight: 600;
            text-align: center;
            color: var(--color-texto-oscuro);
            background-color: white;
            margin: 0;
            border: 1px solid #0a090933;
            border-bottom: 0;
            padding-top: 1em;
            border-radius: 10px 10px 0px 0px;
            box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
        }

        // Iniciar sesión y registrarse
        #customer_login .col-1, 
        #customer_login .col-2  {

            .woocommerce-form.woocommerce-form-login,
            .woocommerce-form.woocommerce-form-register {
                min-height: 370px;
                background-color: white;
                border-radius: 0px 0px 10px 10px;
                box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
                border: 1px solid #0a090933;
                border-top: 0;
                margin: 0;

                label {
                    font-size: 0.9em;
                }

                input {
                    padding: 0.5em;
                }

                button {
                    background-color: var(--color-primario);
                    color: var(--color-texto-oscuro);
                    border-radius: 50px;
                    width: 100%;
                    margin-top: 1em;
                    line-height: unset;
                    max-width: 300px;
                    margin: auto;
                    display: block;
                    float: unset;
                    
                    &:hover {
                        background-color: var(--color-primario-hover);
                    }
                }

                .woocommerce-form__label.woocommerce-form-login__rememberme,
                .mailchimp-newsletter {
                    margin-bottom: 2em;
                }

                .woocommerce-LostPassword.lost_password {
                    text-align: center;
                    font-size: 0.9em;
                    margin-top: 0.6em;

                    a {
                        color: var(--color-secundario);
                    }
                }
            
                .woocommerce-privacy-policy-text {
                    font-size: 0.9em;
                }
            }
        }

        // Mi cuenta restablecer contraseña
        .woocommerce-ResetPassword.lost_reset_password {
            max-width: 800px;

            .woocommerce-form-row {

                input {
                    padding: 0.5em;
                }

                label {
                    font-weight: 600;
                }

                button {
                    background-color: var(--color-primario);
                    border-radius: 50px;
                    color: var(--color-texto-oscuro);
                    line-height: unset;
                    padding: 0.6em 1.4em;
                    margin-top: 2em;
                }
            }
        }

        // Mi cuenta menu de navegacion
        .woocommerce-MyAccount-navigation {
            background-color: white;
            border-radius: 10px;
            box-shadow: 6px 6px 10px 2px rgba(7, 7, 7, 0.07);
            position: sticky;
            top: 100px;
            border: 1px solid #80808026;
            overflow: hidden;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    border-bottom: 1px solid rgba(128, 128, 128, 0.199);

                    a {
                        color: var(--color-texto-oscuro);
                        text-decoration: none;
                        font-size: 0.96em;
                        display: block;
                        padding: 0.8em 1em;
                    }

                    &:last-of-type {
                        border: 0;
                        
                        a {
                            color: red;
                        }
                    }

                    &:hover {
                        background-color: #e7e7e7;
                    }
                }

                li.is-active {
                    background-color: var(--color-primario);
                    font-weight: 500;
                }
            }
        }

        // Mi cuenta contenido
        .woocommerce-MyAccount-content {
            background-color: white;
            border-radius: 10px;
            padding: 1.4em;
            box-shadow: 6px 6px 10px 2px rgba(7, 7, 7, 0.07);
            border: 1px solid #80808026;

            table {
                border: 0;
            }

            label {
                font-size: 0.95em;
            }

            input {
                padding: 0.4em;
                margin-bottom: 0.5em;
            }

            h3 {
                font-size: 1.3em;
                font-weight: 600;
            }


            .woocommerce-order-details,.woocommerce-customer-details {
                font-size: 0.95em;

                h2,.woocommerce-table--order-details, address {
                    text-align: start;
                    box-shadow: unset;
                    border-radius: 0;
                    box-shadow: unset;
                    border: 0;
                }

                h2 {
                    margin-bottom: 0.5em;
                }
            }

            .woocommerce-orders-table {
                margin-bottom: 0;

                td {
                    padding: 0.8em;
                }

                .woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions {

                    a {
                        background-color: dodgerblue;
                        color: white;
                        width: 100%;
                        text-align: center;
                        font-size: 0.9em;
                        margin-bottom: 0.5em;
                    }

                    a.cancel {
                        background-color: gray;
                    }

                    a.pay{
                        background-color: var(--color-primario);
                    }
                }
            }

            .woocommerce-EditAccountForm  {

                label {
                    font-size: 0.95em;
                }

                input {
                    padding: 0.4em;
                    margin-bottom: 0.5em;
                }

                fieldset {

                    legend {
                        font-size: 1.3em;
                        font-weight: 600;
                    }
                }

                button {
                    background-color: dodgerblue;
                    float: right;
                    color: white;
                }
            }
        }
    }

}

@media(max-width: 768px) {

    .page-mi-cuenta  {

        .site-main {
            padding: 2em 0;

            h1.entry-title {
                font-size: 1.5em;
            }

            // Iniciar sesión y registrarse
            #customer_login .col-1, 
            #customer_login .col-2   {
                font-size: 0.95em;

                .woocommerce-form.woocommerce-form-login,
                .woocommerce-form.woocommerce-form-register {
                    min-height: unset;
                }
            }
            #customer_login .col-2 {
                margin-top: 2em;
            }

            // Mi cuenta menu de navegacion
            .woocommerce-MyAccount-navigation {
                position: unset;
                font-size: 0.96em;
                margin-bottom: 1em;
            }

            // Mi cuenta contenido
            .woocommerce-MyAccount-content {

                .woocommerce-orders-table {
                    font-size: 0.95em;

                    .woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions {
                        
                        a {
                            margin-top: 1em;
                            margin-bottom: 2em;
                        }
                    }
                }

                .woocommerce-EditAccountForm {
                    font-size: 0.95em;

                    button { 
                        max-width: 400px;
                        width: 100%;
                        margin: auto;
                        float: unset;
                    }
                }
            }
        }
    }
}