.pagina-producto {
    padding: 2.5em 0;
    padding-bottom: 6em;

    // Migas de pan
    .woocommerce-breadcrumb {
        max-width: 550px;
    }

    // Datos del producto y galería
    div.product {

        // Etiqueta oferts
        .onsale {
            background-color: red;
            border-radius: 50px;
            min-width: unset;
            min-height: unset;
            line-height: unset;
            font-size: 0.7em;
            padding: 0.5em 1em;
            top: 9px;
            left: 9px;
        }

        // Galeria del producto
        div.images.woocommerce-product-gallery {
            margin-bottom: 6em;
        }

        // Datos del producto
        div.summary {
            margin: 0;

            .product_title {
                font-size: 1.7em;
                margin-bottom: 0.3em;
            }

            .sku_wrapper {
                font-size: 0.88em;

                span {
                    font-weight: 700;
                }
            }

            .price {
                font-size: 1.7em;
                color: red;
                font-weight: 700;
                margin: 1em 0;

                del {
                    font-size: 0.60em;
                    color: #474646;
                }

                ins {
                    text-decoration: none;
                }
            }

            .stock.in-stock {
                margin-bottom: 0.5em;
                color: #555655;
            }

            .woocommerce-product-details__short-description {
                display: none;
            }

            form.cart {
 
                div.quantity {
                    margin-right: 10px; 
                    position: relative;

                    input.qty {
                        border-radius: 50px;
                        padding: 0.4em 2em;
                        padding-right: 1em;
                        width: 120px;
                        max-width: 120px;
                        height: 45px;
                        border: 1px solid #ccc;

                        &:focus-visible {
                            outline: 0;
                        }
                    }

                    .plus, 
                    .minus {
                        position: absolute;
                        right: 0;
                        border-radius: 0px 50px 50px 0px;
                        border: 1px solid #ccc;
                        border-left: 0;
                        height: 45px;
                        background-color: white;
                        display: flex;
                        top: 0;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.4em;
                        font-weight: 600;
                        padding: 0;
                        width: 40px;

                        i {
                            font-size: 0.9em;
                            transition: font-weight 0.6s ease-in-out;
                        }

                        &:hover {

                            i {
                                font-weight: 700;
                            }
                        }
                    }

                    .minus {
                        left: 0;
                        right: unset;
                        border-radius: 50px 0px 0px 50px;
                        border-right: 0;
                    }
                }

                button.single_add_to_cart_button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--color-primario);
                    color: var(--color-texto-oscuro);
                    border-radius: 50px;
                    padding: 0.9em 2.9em;
                    font-size: 0.98em;
                    transition: all 0.4s ease-in-out;

                    svg, i {
                        font-size: 1.2em;
                        margin-left: 0.5em;
                    }

                    &:hover {
                        background-color: var(--color-secundario);
                        color: var(--color-texto-claro);
                    }
                }

                a.added_to_cart {
                    display: none;
                }
            }

            // Estilos  productos con variaciones
            form.cart.variations_form {
                display: flex;
                flex-direction: column;

                .variations {
                    order: 1;

                    .label, .value {
                        display: block;
                    }

                    .label {
                        .variation_name_label {
                            font-size: 0.95em;
                            font-weight: 500;
                        }
                    }

                    .value {
                        .attribute_peso, .attribute_peso-kg {
                            display: flex;
                            font-size: 0.96em;
                        }
                    }
                }

                .single_variation_wrap {
                    order: 0;
                    width: 100%;
                    margin-bottom: 2em;

                    .woocommerce-variation-price {
                        font-size: 0.8em;
                        
                    }
                }
            }

            // Categorias y etiquetas
            .posted_in {
                margin-top: 2em;

                a {
                    display: inline-block;
                    text-decoration: none;
                    border: 3px solid var(--color-primario);
                    border-radius: 50px;
                    color: var(--color-texto-oscuro);
                    font-size: 0.8em;
                    margin-right: 10px;
                    padding: 0.3em 1em;
                    transition: all 0.4s ease-in-out;

                    &:hover { 
                        transform: translateY(-5px);
                        border-color: var(--color-primario-hover);
                    }
                }
            }
        }
    }

    // Tabs Datos del producto
    div.woocommerce-tabs.wc-tabs-wrapper {
        margin-top: 4em;

        // Tabs links
        ul.tabs.wc-tabs {
            padding: 0;
            margin-bottom: 0;

            li {
                margin: 0;
                margin-right: 2px;
                border-radius: 10px 10px 0px 0px;
                font-size: 0.95em;
                border-bottom: 0;
                background-color: transparent;
                padding: 0;

                a {
                    padding: 0.5em 1em;
                }

                &::after, 
                &::before {
                    content: unset;
                }
            }

            li.active {
                background-color: var(--color-secundario);
                color: var(--color-texto-claro);

                &::after {
                    box-shadow: unset;
                }
            }

            &::before {
                content: unset;
            }
        }

        // Tabs panel
        div.woocommerce-Tabs-panel {
            background-color: white;
            box-shadow: 2px 10px 10px 2px #0000000f;
            border-radius: 0px 0px 10px 10px;
            padding: 1em;
    
            h2 {
                font-size: 1.2em;
                margin-bottom: 0.5em;
                margin-top: 1em;
                font-weight: 600;
            }
    
            p {
                font-size: 0.95em;
            }
        }

        // Informacion adicional
        div.woocommerce-Tabs-panel--additional_information {
            
            table {
                font-size: 0.95em;
                margin-top: 1em;
            }
        }

        // Revies
        div.woocommerce-Tabs-panel--reviews {

            .woocommerce-Reviews {

                .woocommerce-noreviews {
                    background-color: transparent;
                    color: gray;
                }

                .comment-respond {

                    .comment-reply-title {
                        margin-bottom: 1em;
                        display: block;
                    }

                    form {

                        .comment-form-author, 
                        .comment-form-email {
                            
                            label {
                                display: block;
                            }
                        }

                        p.form-submit {
                            text-align: end;

                            input#submit.submit {
                                background-color: var(--color-primario);
                                border-radius: 50px;
                                color: var(--color-texto-oscuro);
                                font-size: 0.96em;
                            }
                        }
                    }
                }
            }
        }
    }

    // Productos relacionados y ventas cruzadas
    .related.products, 
    .up-sells.upsells.products  {

        ul {
            li {
                margin-bottom: 0;
            }
        }

        h2:not(.woocommerce-loop-product__title) {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 1.4em;
            border-left: 6px solid var(--color-primario);
            padding-left: 0.5em;
            line-height: 0.96;
            margin-top: 3em;
        }
    }
}

@media (max-width: 768px) {

    .pagina-producto {

        div.product {

            // Galeria de imágenes
            div.images.woocommerce-product-gallery {
                margin-bottom: 3em;
            }

            // Datos del producto
            div.summary {

                .product_title {
                    font-size: 1.4em;
                }

                .price {
                    font-size: 1.3em;
                }
            }
        }

        // Tab Datos del producto
        div.woocommerce-tabs.wc-tabs-wrapper {
            margin-top: 3em;
            font-size: 0.95em;

            ul.tabs.wc-tabs {

                li {
                    width: 100%;
                    border-radius: 0;

                    a {
                        width: 100%;
                    }

                    &:first-of-type {
                        border-radius: 10px 10px 0px 0px;
                    }
                }
            }
        }

        // Productos relacionados y ventas cruzadas
        .related.products, 
        .up-sells.upsells.products  {

            h2:not(.woocommerce-loop-product__title) {
                font-size: 1.2em;
            }
        }
    }
}
