
.pagina-tienda {
    margin-bottom: 3em;

    // Baner header
    .pagina-tienda__banner {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2.3em 0em;
        margin-bottom: 2em;
        color:  var(--color-texto-claro);
        
        h1 {
            font-weight: 700;
            position: relative;
            z-index: 3;
            margin: 0;
        }

        &::after {
            width: 100%;
            height: 100%;
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            z-index: 1 ;
            background: linear-gradient(to right, #000000db ,#00000036);
        }
    }

    // Migas de pan 
    .pagina-tienda__breadcrumb {
        margin-bottom: 2em;
        font-size: 1.2em;
    }

    // Sidebar filtros
    .pagina-tienda__sidebar {

        .widget-area {
            background-color: white;
            box-shadow: 2px 2px 9px 3px #0000000a;
            border-radius: 6px;
            border: 1px solid #8080802b;
            padding: 1em;
            top: 100px;
            position: sticky;
            z-index: 590;

            .widget {
                border-bottom: 1px solid  #0000001c;

                &:last-of-type {
                    border-bottom: 0;
                }
            }

            h3 {
                font-size: 0.9em;
                font-weight: 700;

                i {
                    font-size: 0.9em;
                }
            }

            ul {
                padding-left: 1em ;
                font-size: 0.9em;

                i {
                    font-size: 0.86em;
                    margin-left: 10px;
                }

                li {
                    li {
                        input {
                            width: 0.98em;
                        }
                    }
                }
            }

            .bapf_button, button {
                width: 100%;
                border-radius: 4px;
                background-color: transparent;
                border-width: 1px;
                border-color: #0000008f;
                font-size: 0.9em;
            }


            .irs--round .irs-from, 
            .irs--round .irs-single, 
            .irs--round .irs-to {
                background-color: #222;
                color: white;
            }

            .irs--round .irs-handle {
                border: 3px solid #222;
                background-color: #fff;
            }

            .irs--round .irs-bar {
                background-color: #1ef875;
            }
        }
    }

    // Galeria de productos
    .pagina-tienda__lista-productos {

        .woocommerce-result-count {
            font-size: 0.95em;
        }
    
        .orderby {
            padding: 0.7em;
            font-size: 0.95em;
            border-radius: 6px;
        }

        ul.products {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 2em;
            row-gap: 15px;
			column-gap: 15px;

            li.product {
                width: 100%;
                margin-bottom: 0;
            }
        }
    }

}

// Sidebar filtros
.pagina-tienda__sidebar-modal {

    .widget {
        border-bottom: 1px solid  #0000001c;

        &:last-of-type {
            border-bottom: 0;
        }

        button.bapf_button, button {
            width: 100%;
            border-radius: 4px;
            background-color: transparent;
            font-size: 0.9em;
            color: black;
            border: 1px solid black;

            &:hover {
                background-color: unset;
                color: unset;
            }
        }
    }

    h3 {
        font-size: 0.9em;
        font-weight: 700;

        i {
            font-size: 0.9em;
        }
    }

    ul {
        padding-left: 1em ;
        font-size: 0.9em;

        i {
            font-size: 0.86em;
            margin-left: 10px;
        }

        li {
            margin-bottom: 0.6em !important;

            li {
                input {
                    width: 0.98em;
                }
            }
        }
    }

    .irs--round .irs-from, 
    .irs--round .irs-single, 
    .irs--round .irs-to {
        background-color: #222;
        color: white;
    }

    .irs--round .irs-handle {
        border: 3px solid #222;
        background-color: #fff;
    }

    .irs--round .irs-bar {
        background-color: #1ef875;
    }
}

.btn-filtro-movil {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    left: 10px;
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, rgb(41, 50, 60), rgb(72, 85, 99)) repeat scroll 0% 0%;
    border: 0;
    box-shadow: rgba(41, 50, 60, 0.24) 0px 2px 12px;

    i {
        color: var(--color-primario);
        font-size: 1.6em;
    }
}

@media(max-width: 1190px) {

    .pagina-tienda {

        // Sidebar filtros
        .pagina-tienda__sidebar {

            .widget-area  {
                top: 140px;
            }
        }
    }
}

@media(max-width: 991px) {

    .pagina-tienda {

        // Banner header
        .pagina-tienda__banner {
            padding: 1.6em 0.5em;
            background-position: center;

            h1 {
                font-size: 1.6em;
            }
        }

        // Migas de pan
        .pagina-tienda__breadcrumb {
            margin-bottom: 1em;
        }

        // Sidebar filtros
        .pagina-tienda__sidebar {
            margin-bottom: 3em;

            .widget-area  {
                position: unset;
            }
        }

        // Galeria de productos
        .pagina-tienda__lista-productos {

            .woocommerce-ordering {
                float: none;
            }

            .orderby {
                width: 100%;
                font-size: 0.85em;
            }

            ul.products {
                grid-template-columns: 1fr 1fr;
                row-gap: 12px;
                column-gap: 12px;
            }
        }
    }
}