.page-finalizar-compra {

    h2 {
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: 0.5em;
    }
}

.woocommerce-order-overview {
    background-color: #f0efef;
    padding: 0.8em;
    border-radius: 10px;
}

.woocommerce-bacs-bank-details {

    .wc-bacs-bank-details-heading {
        font-size: 1.3em;
        font-weight: 700;
    }

    h3.wc-bacs-bank-details-account-name {
        font-size: 1em;
    }

    .wc-bacs-bank-details.order_details.bacs_details {
        background-color: #f0efef;
        padding: 0.8em;
        border-radius: 0px 0px 10px 10px;
        border-top: 3px solid var(--color-primario);
        display: none;

        &:first-of-type {
            display: block;
        }
    }
}

.woocommerce-order-details, 
.woocommerce-customer-details,
.shop_table.order_details {

    h2 {
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    table.woocommerce-table--order-details, address {
        padding: 1em;
        border-radius: 10px;
        box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
        border: 1px solid #0a090933;
        font-size: 0.96em;

        a {
            color: dodgerblue;
        }
    }

    .woocommerce-column  {
        margin-bottom: 1em;
    }
}

@media (max-width: 768px) {

    .page-finalizar-compra {

        .site-main {
            font-size: 0.96em;

            .woocommerce ul.order_details li {
                width: 100%;
                padding: 0;
                margin: 0;
                border: 0;

                strong {
                    margin-top: 0.5em;
                    margin-bottom: 1em;
                }
            }

        }
    }
}