
// Seccion categorias
.seccion-categorias {
    margin-top: 5em;
    animation: fade-in-categorias 1s ease-in-out;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;

    .categoria {
        position: relative;
        z-index: 2;
        transition: transform 0.6s cubic-bezier(0.215, 0.610, 0.355, 1);

        .categoria__img {
            overflow: hidden;
            border-radius: 20px;
            position: relative;

            img {
                min-height: 350px;
                max-height: 350px;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
                transition: transform 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
                transform: scale(1.1);
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-radius: 23px;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.671));
            }
        }

        .categoria__titulo {
            position: absolute;
            width: 100%;
            bottom: 20px;
            left: 50%;
            transform: translate(-50%, 0%);
            text-align: center;
            font-weight: 800;
            padding: 0 0.5em;
            color: var(--color-texto-claro);
            font-size: 1.4em;
        }

        .linea {
            display: block;
            position: absolute;
            bottom: 23px;
            left: 50%;
            border-bottom: 2px solid var(--color-primario);
            width: 0%;
            text-align: center;
            transform: translate(0%, -50%);
        }

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(124deg, #33ff00, #1ddbe8, #33ff00);
            background-size: 600% 600%;
            top: 7px;
            left: -7px;
            z-index: -1;
            border-radius: 20px;
            background-position: 0% 82%;
            transition: all 0.3s ease-in-out;
        }

        &:hover  {


            &::after {
                animation: fondo-neon 2s ease-in-out infinite;
                top: 4px;
                left: -4px;
            }

            .linea {
                animation: line 0.4s ease-in-out  forwards;
            }

            .categoria__img {

                img {
                    transform: scale(1);
                }
            }
        }

    }

    @keyframes fade-in-categorias{

        0% {
            transform: translateY(30px);
            opacity: 0;
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

// Seccion productos destacados
.seccion-productos-destacados {
    
    &::after {
        clear: both; 
        content: "";
        display: table; 
    }
      
}

// Seccion sobre nosotros
.seccion-sobre-nosotros {
    width: 100%;
    padding: 2em;
    position: relative;
    margin-bottom: 4em;
    overflow-x: hidden;
    min-height: 750px;

    h2 {
        margin-top: 5em;
        text-align: center;
        font-weight: 800;
        color: gray;
    }

    p {
        text-align: center;
        max-width: 500px;
        margin: auto;
    }

    .seccion-sobre-nosotros__img-izquierda,
    .seccion-sobre-nosotros__img-derecha {
        position: absolute;
        max-width: 550px;
        width: 100%;
        top: 50%;
        transform: translate( 0, -50%);
        z-index: -1;
    }
    
    .seccion-sobre-nosotros__img-izquierda {
        left: -210px;
    }

    .seccion-sobre-nosotros__img-derecha {
        right: -210px;
    }
}

// Seccion Novedades
.seccion-novedades {

    .ver-mas-productos {
        border-radius: 50px;
        background-color: var(--color-secundario);
        color: var(--color-texto-claro);
        padding: 0.5em 1.4em ;
        transition: background-color 0.4s ease-in-out;

        &:hover {
            background-color: var(--color-secundario-hover);
        }
    }
}

// Seccion Newsletter
.seccion-newsletter {
    width: 100%;
    position: relative;
    padding: 4em 0em;
    margin-top: 6em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: var(--color-texto-claro);

    .yikes-mailchimp-container {
        
        .yikes-easy-mc-form {
            display: flex;
            max-width: 500px;
            margin: auto;

            .submit-button-inline-label {
                min-width: 120px;
            }
    
            .label-inline {
                padding: 0;
            }
    
            button {
                border-radius: 0px 50px 50px 0px;
                background-color: var(--color-primario);
                color: var(--color-texto-oscuro);
                border: 0;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .yikes-easy-mc-email {
                height: 45px;
                padding-left: 20px;
            }

            input {
                border-radius: 50px 0px 0px 50px;
            }
        }

        .edit-link {
            display: block;
        }
    }
    
    .seccion-newsletter__contenido {
        position: relative;
        z-index: 2;
    }

    .seccion-newsletter__titulo {
        font-weight: 800;
        font-size: 1.8em;
    }

    .seccion-newsletter__bajada {
        font-size: 1.3em;
        margin-bottom: 1.2em;
    }

    .seccion-newsletter__input {
        display: inline-flex;
        align-items: center;
        max-width: 500px;
        padding: 0 1em;
        width: 100%;


        input, button {
            display: block;
            height: 40px;
        }

        input {
            max-width: 100%;
            width: 100%;
            padding: 0 1em;
            border-radius: 50px 0px 0px 50px;

            &:focus-visible {
                outline: 0;
            }
        }

        button {
            border-radius: 0px 50px 50px 0px;
            color: var(--color-texto-oscuro);
            background-color: var(--color-primario);
            border: 0;
        }
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.829);
    }
}

.seccion-productos-destacados,
.seccion-sobre-nosotros, 
.seccion-novedades {
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translatey(50px);
}

.seccion-productos-destacados.fade-in-senzo, 
.seccion-sobre-nosotros.fade-in-senzo, 
.seccion-novedades.fade-in-senzo {
    transform: translatey(0);
    opacity: 1;
}

@media (max-width: 1190px) {

    .seccion-categorias {

        .categoria {
            border-radius: 12px;

            .categoria__img {
                border-radius: 12px;

                img {
                    object-fit: cover;
                    min-height: 280px;
                    width: 100%;
                    object-position:center;
                    transform: scale(1);
                    border-radius: 12px;
                }

                &::after {
                    border-radius: 12px;
                }
            }

            .categoria__titulo {
                font-size: 1.1em;
            }

            &::after{
                top: 3px;
                left: -3px;
                border-radius: 12px;
            }
        }
    }

    .seccion-sobre-nosotros {
        padding: 8em 1em;
        min-height: auto;

        h2 {
            margin-top: 0;
        }

        .seccion-sobre-nosotros__img-izquierda,
        .seccion-sobre-nosotros__img-derecha {
            max-width: 290px;
        }

        .seccion-sobre-nosotros__img-izquierda {
            left: -100px;
        }
    
        .seccion-sobre-nosotros__img-derecha {
            right: -100px;
        }
        
    }
}

@media (max-width: 990px) {

    .seccion-sobre-nosotros {
        padding: 1em 1.3em;
        display: grid;
        grid-template-rows: 200px auto 200px;

        .seccion-sobre-nosotros__texto {
            grid-row: 2/3;

            h2 {
                margin-top: 0;
            }
        }

        .seccion-sobre-nosotros__img-izquierda,
        .seccion-sobre-nosotros__img-derecha {
            max-width: 260px;
            z-index: -1;
        }

        .seccion-sobre-nosotros__img-izquierda {
            grid-row: 3/4;
        }

        .seccion-sobre-nosotros__img-derecha {
            grid-row: 1/2;
        }
    }
}


@media (max-width: 750px) {

    .seccion-sobre-nosotros {
        p {
            font-size: 0.86em;
        }

        .seccion-sobre-nosotros__img-izquierda,
        .seccion-sobre-nosotros__img-derecha {
            max-width: 200px;
            z-index: -1;
        }
    }

    .seccion-newsletter {
        padding: 3em 0em;

        .seccion-newsletter__contenido {
            padding: 1em;
        }

        .seccion-newsletter__titulo {
            font-size: 1.4em;
        }

        .seccion-newsletter__bajada {
            font-size: 1.1em;
        }

        .yikes-mailchimp-container {
            
            .yikes-easy-mc-form {
                display: block;
        
                button, input {
                    border-radius: 50px;
                }
            }
        }
    }
}

@keyframes line {
    
    from {
      left: 50%;
      width: 0%;
    }
    to {
      left: 15%;
      width: 70%;
    }
}
