.pagina-contacto {

    .pagina-contacto__banner {

        img {
            object-fit: cover;
            height: 180px;
            width: 100%;
        }
    }

    .pagina-contacto__formulario {
        max-width: 500px;
        margin: auto;
        width: 100%;
        margin-top: -70px;
        background-color: white;
        box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
        border: 1px solid rgba(128, 128, 128, 0.178);
        padding: 1.8em;
        border-radius: 4px;
  
        .pagina-contacto__titulo {
            font-weight: 600;
            font-size: 1.8em;
            text-align: center;
        }

        .pagina-contacto__bajada {
            text-align: center;
            font-size: 0.97em;
        }

        form {

            label {
                font-size: 0.95em;
            }
    
            label, input, textarea, select {
                width: 100%;
            }
    
            textarea {
                height: 100px;
                max-height: 2000px;
            }
    
            select {
                padding: 0.5em;
            }
    
            input[type="submit"] {
                background-color: var(--color-primario);
                border-radius: 50px;
                border: 0;
                padding: 0.7em 1.4em;
    
                &:hover {
                    background-color: var(--color-primario-hover);
                }
            }
        }

    }

    .redes-sociales {

        li a {
            border-radius: 50%;
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-texto-claro);
            margin-right: 5px;
            text-decoration: none;
            font-size: 1em;
            transition: 0.6s ease-in-out;
        }

        .facebook a {
            background-color:  #255eda;;
        }

        .instagram a {
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        }

        .correo-electronico a{
            background-color: crimson;
        }
        
    }
}

@media(max-width: 575px) {
    .pagina-contacto {

        .pagina-contacto__formulario {
            padding: 2em 1.4em;

            .pagina-contacto__titulo {
                font-size: 1.6em;
            }
        }
    }
}