
.page-finalizar-compra {

    .site-main {
        margin-top: 2.5em;
        margin-bottom: 3em;

        h1.entry-title {
            font-size: 2.2em;
            font-weight: 800;
            margin-top: 2em;
        }

        h3 {
            font-size: 1.2em;
            font-weight: 600;
        }

        .woocommerce form .form-row input.input-text, 
        .woocommerce form .form-row textarea {
            padding: 0.5em;
            font-size: 0.96em;
            margin-bottom: 0.5em;
        }

        #billing_first_name_field,
        #billing_last_name_field {
            float: unset;
            width: 100%;
        }

        .woocommerce form .form-row label {
            font-size: 0.95em;
        }

        h3#order_review_heading {
            display: none;
        }

        .woocommerce-shipping-fields {
            margin-top: 2em;

            h3 {
                font-size: 1em;
            }
        }

        #add_payment_method #payment, 
        .woocommerce-cart #payment, 
        .woocommerce-checkout #payment {
            background-color: #f7f7f7;

            .wc_payment_methods {

                .payment_method_flow_flow {

                    img {
                        max-width: 320px;
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }

        .shop_table.woocommerce-checkout-review-order-table {

            .product-name {
                max-width: 180px;
            }
        }

        .woocommerce-terms-and-conditions-wrapper {
            font-size: 0.95em;
        }

        .woocommerce #payment #place_order, 
        .woocommerce-page #payment #place_order {
            background-color: var(--color-primario);
            color: var(--color-texto-oscuro);
            padding: 0.9em 2.2em;
            line-height: unset;
            border-radius: 50px;
            font-size: 1em;
            margin-top: 1em;

            &:hover {
                background-color: var(--color-primario-hover);
            }
        }
    }
}

@media (max-width: 768px) {

    .page-finalizar-compra {
        .site-main {

            h1.entry-title {
                font-size: 1.5em;
            }

            .woocommerce-info {
                font-size: 0.8em;
            }

            h3 {
                font-size: 1.3em;
            }

            .checkout.woocommerce-checkout {
                font-size: 0.9em;
            }

        }
    }
}

.woocommerce ul#shipping_method {
    font-weight: 500;
    font-size: 0.96em;
}