.page-carrito {

    .site-main {
        padding: 2em 0;
        min-height: 80vh;

        h1.entry-title {
            font-weight: 800;
            font-size: 2em;
        }

        .entry-content {
            margin-top: 0;
        }

        .woocommerce {

            // Tabla de productos y envio
            .woocommerce-cart-form, 
            .cart-collaterals {
                border-radius: 10px;
                box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
                border: 1px solid #0a09090a;

                table.shop_table {
                    border: 0;
                    padding: 1em;
                }

                .woocommerce-shipping-totals.shipping, .order-total, .cart-subtotal {

                    th {
                        width: unset;
                    }
                }
            }

            // Tabla de productos
            .woocommerce-cart-form {
                font-size: 0.96em;
    
                .product-remove {
                
                    a.remove {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #eeeaea;
                        margin: auto;
                        font-size: 1.2em;
        
                        &:hover {
                           
                            background-color: red;
                            color: white;
                        }
                    }
                }
    
                .product-thumbnail {
    
                    img {
                        max-width: 50px;
                        width: 100%;
                        border-radius: 4px;
                    }
                }
    
                .product-name {
                    max-width: 170px;
                    
                    a {
                        font-size: 0.9em;
                        text-decoration: none;
                        font-weight: 500;
                        color: var(--color-secundario);
                        text-decoration: underline;
                    }
                }
    
                .product-quantity {
                    max-width: 120px;
    
                    div.quantity {
                        position: relative;
    
                        input.qty {
                            border-radius: 50px;
                            padding: 0.4em 2em;
                            padding-right: 1em;
                            width: 100%;
                            border: 1px solid #ccc;     
                            height: 40px;
    
                            &:focus-visible {
                                outline: 0;
                            }
                        }
    
                        .plus, .minus {
                            position: absolute;
                            right: 0;
                            border-radius: 0px 50px 50px 0px;
                            border: 1px solid #ccc;
                            border-left: 0;
                            height: 40px;
                            background-color: white;
                            display: flex;
                            top: 0;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.4em;
                            font-weight: 600;
                            padding: 0;
                            width: 40px;
    
                            i {
                                font-size: 0.9em;
                            }
                        }
    
                        .minus {
                            left: 0;
                            right: unset;
                            border-radius: 50px 0px 0px 50px;
                            border-right: 0;
                        }
                    }
                }
    
                .product-subtotal {
                    font-size: 0.95em;
                    font-weight: 600;
                }
    
                .actions {
    
                    .coupon {
    
                        input {
                            max-width: 170px;
                            width: 100%;
                        }
                    }

                    button:enabled {
                        background-color: var(--color-secundario);
                        color: white;
                    }
                }
            }

            //Detalles de envio
            .cart-collaterals {
                padding: 1.5em;
                background-color: #faf9f9;
                
                .cart_totals {
                    width: 100%;
                    font-size: 0.97em;

                    h2 {
                        font-size: 1.2em;
                        border-bottom: 2px solid black;
                    }

                    .cart-subtotal, 
                    .order-total {

                        td {
                            text-align: end;
                        }
                    }

                    .woocommerce-shipping-totals {
                        font-size: 0.95em;

                        .shipping-calculator-form {
                            width: 100%;
                            max-width: 200px;
                            text-align: start;

                            input, select {
                                padding: 0.5em;
                                background-color: white;
                                border: 1px solid gray;
                            }
                        }
                    }
                    
                    .shop_table {
                        padding: 0;
                        margin-top: 1em;
                        font-size: 0.96em;

                        .order-total {
                            font-size: 1.1em;
                        }
                    }

                    .wc-proceed-to-checkout {
                        padding-bottom: 0;

                        .checkout-button  {
                            background-color: var(--color-primario);
                            color: var(--color-texto-oscuro);
                            border-radius: 50px;
                            line-height: unset;
                            font-size: 1em;
                            padding: 0.7em;
                            margin: 0;

                            &:hover {
                                background-color: var(--color-primario-hover);
                            }
                        }
                    }

                }
            }

            .carrito-vacio__img {
                margin: auto;
                opacity: 0.2;
                max-width: 170px;
                position: relative;
                left: -18px;
                display: block;
            }
            
            .return-to-shop { 
                grid-row: 4;
                grid-column: 1/3;
                text-align: center;
                margin-top: 1em;

                a {
                    margin: auto;
                    background-color: var(--color-secundario);
                    color: var(--color-texto-claro);
                    border-radius: 50px;
                    padding: 0.5em 1.3em;
                    line-height: unset;

                }
            }
        }
    }

}


@media(max-width: 1191px) {

    .page-carrito {
    
        .site-main {
    
            h1.entry-title {
                font-size: 1.5em;
            }
            
            .woocommerce {
                display: block;
    
                // Tabla de productos
                .woocommerce-cart-form {
                    margin-bottom: 2em;
                    font-size: 0.95em;
                    margin-top: 1em;
    
                    .product-thumbnail {
                        display: flex;
                        justify-content: center;
    
                        &:before {
                            content: "";
                        }
                    }

                    .product-quantity {
                        max-width: 100%;
                        align-items: center;
                        display: flex;
                        justify-content: space-between;

                        div.quantity {
                            margin-right: 0;
                            max-width: 140px;
                            width: 140px;
                            float: right;
                        }
                    }
    
                    .actions {
                        padding: 1em 0;
                        background-color: transparent;
    
                        .coupon {
        
                            input, button {
                                max-width: 100%;
                                width: 100%;
                                float: unset;
                            }

                            button {
                                margin-top: 0.5em
                            }
                        }
                    }
                }

                // Detalles de envio
                .cart-collaterals {

                    .woocommerce-shipping-totals {
                        position: relative;

                        [data-title="Envío"] {
                            padding-top: 40px;

                            &::before {
                                position: absolute !important;
                                top: 10px;
                                left: 10px;
                            }
                        }

                        ul {
                            text-align: start;
                            padding-top: 40px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {

    .page-carrito {
    
        .site-main {
    
            .woocommerce {
                display: block;
    
                // Tabla de productos
                .woocommerce-cart-form {

                    .product-name {
                        max-width: unset;
                    }

                }

                .cart-collaterals {

                    .cart_totals {
                        
                        .woocommerce-shipping-totals {
    
                            .shipping-calculator-form {
                                width: 100%;
                                max-width: 260px;
                            }
                        }
                    }

                }
            }
        }
    }
}
