@charset "UTF-8";
/*!
Theme Name: senzofit
Theme URI: http://underscores.me/
Author: MKR
Author URI: https://www.mkr.cl/
Description: Tema para el sitio web senzofit.cl
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: senzofit
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready



/* Navigation
--------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
@import url("https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css");
.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

:root {
  --color-primario: #1EF875;
  --color-primario-hover: #1ddf6b;
  --color-secundario: #222222;
  --color-secundario-hover: #303030;
  --color-texto-oscuro: #141414;
  --color-texto-claro: white;
}

/**
 * Shop tables
 */
table.shop_table_responsive thead {
  display: none;
}

table.shop_table_responsive tbody th {
  display: none;
}

table.shop_table_responsive tr td {
  display: block;
  text-align: right;
  clear: both;
}

table.shop_table_responsive tr td::before {
  content: attr(data-title) ": ";
  float: left;
}

table.shop_table_responsive tr td.product-remove a {
  text-align: left;
}

table.shop_table_responsive tr td.product-remove::before {
  display: none;
}

table.shop_table_responsive tr td.actions::before,
table.shop_table_responsive tr td.download-actions::before {
  display: none;
}

table.shop_table_responsive tr td.download-actions .button {
  display: block;
  text-align: center;
}

@media screen and (min-width: 48em) {
  table.shop_table_responsive thead {
    display: table-header-group;
  }

  table.shop_table_responsive tbody th {
    display: table-cell;
  }

  table.shop_table_responsive tr th,
table.shop_table_responsive tr td {
    text-align: left;
  }

  table.shop_table_responsive tr td {
    display: table-cell;
  }

  table.shop_table_responsive tr td::before {
    display: none;
  }
}
/**
 * Products
 */
.woocommerce ul.products {
  margin: 0;
  padding: 0;
}
.woocommerce ul.products li.product {
  list-style: none;
  position: relative;
  background-color: white;
  border-radius: 10px;
  padding: 1.3em;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
  border: 1px solid rgba(128, 128, 128, 0.178);
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.woocommerce ul.products li.product .woocommerce-loop-product__link {
  text-decoration: none;
  color: var(--color-texto-oscuro);
}
.woocommerce ul.products li.product img {
  display: block;
  margin: auto;
}
.woocommerce ul.products li.product span.onsale {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: red;
  color: var(--color-texto-claro);
  border-radius: 50px;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.3em 0.9em;
  min-height: unset;
  line-height: unset;
}
.woocommerce ul.products li.product h2.woocommerce-loop-product__title {
  font-size: 0.97em;
  margin: 1.4em 0em 1em 0em;
  margin-bottom: 0.4em;
  text-align: center;
  min-height: 55px;
}
.woocommerce ul.products li.product span.price {
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 0.99em;
  color: var(--color-texto-oscuro);
}
.woocommerce ul.products li.product span.price del {
  font-size: 0.9em;
  font-weight: 500;
}
.woocommerce ul.products li.product span.price ins {
  text-decoration: none;
}
.woocommerce ul.products li.product .button {
  margin-top: 1.4em;
  padding: 0.6em 0.9em;
  border-radius: 50px;
  background-color: var(--color-primario);
  text-align: center;
  color: var(--color-texto-oscuro);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.86em;
  line-height: unset;
  width: 100%;
}
.woocommerce ul.products li.product .button:hover {
  background-color: var(--color-primario-hover);
}
.woocommerce ul.products li.product a.added_to_cart {
  display: block;
  margin: auto;
  margin-top: 0.8em;
  text-align: center;
  color: var(--color-texto-oscuro);
  text-decoration: none;
  font-size: 0.96em;
}
.woocommerce ul.products li.product a.added_to_cart:hover {
  text-decoration: underline;
}
.woocommerce ul.products li.product:hover {
  box-shadow: unset;
  transform: scale(0.99);
}
.woocommerce ul.products::before {
  content: unset;
  display: unset;
}

@media (max-width: 1190px) {
  .woocommerce ul.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .woocommerce ul.products li.product {
    margin-bottom: 0;
    width: 100% !important;
  }
  .woocommerce ul.products li.product span.onsale {
    font-size: 0.7em;
  }
  .woocommerce ul.products li.product h2.woocommerce-loop-product__title {
    font-size: 0.95em;
  }
  .woocommerce ul.products li.product span.price {
    font-size: 0.8em;
  }
}
@media (max-width: 760px) {
  .woocommerce ul.products[class*=columns-] li.product,
.woocommerce .woocommerce-page ul.products[class*=columns-] li.product {
    margin-bottom: 0;
  }
  .woocommerce ul.products {
    grid-template-columns: 1fr 1fr;
    row-gap: 9px;
    column-gap: 9px;
  }
  .woocommerce ul.products li.product {
    padding: 1em 0.5em;
  }
  .woocommerce ul.products li.product h2.woocommerce-loop-product__title {
    font-size: 0.83em;
    text-align: start;
  }
  .woocommerce ul.products li.product .button, .woocommerce ul.products li.product a.added_to_cart {
    font-size: 0.85em;
  }
}
/**
 * Single product
 */
.single-product div.product {
  position: relative;
}

.single-product div.product .woocommerce-product-gallery {
  position: relative;
  float: left;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 2em;
  right: 1em;
  display: block;
  z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
  margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
  margin: 0;
  padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
  list-style: none;
  cursor: pointer;
  float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
  opacity: 0.5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
  opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
  opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
  width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
  margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
  clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
  width: 30.79667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
  margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
  clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
  margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
  clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
  width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
  margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
  clear: both;
}

.stock:empty::before {
  display: none;
}

.stock.in-stock {
  color: #0f834d;
}

.stock.out-of-stock {
  color: #e2401c;
}

/**
 * Checkout
 */
@media screen and (min-width: 768px) {
  .col2-set .form-row-first {
    float: left;
    margin-right: 3.8%;
  }

  .col2-set .form-row-last {
    float: right;
    margin-right: 0;
  }

  .col2-set .form-row-first,
.col2-set .form-row-last {
    width: 48.1%;
  }
}
/**
 * Star rating
 */
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1.618em;
  line-height: 1.618;
  width: 5.3em;
  font-family: star;
  font-weight: 400;
}

.star-rating::before {
  content: "SSSSS";
  opacity: 0.25;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.star-rating span::before {
  content: "SSSSS";
  top: 0;
  position: absolute;
  left: 0;
  color: #4169e1;
}

p.stars a {
  position: relative;
  height: 1em;
  width: 1em;
  text-indent: -999em;
  display: inline-block;
  text-decoration: none;
  margin-right: 1px;
  font-weight: 400;
}

p.stars a::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-family: star;
  content: "S";
  color: #404040;
  text-indent: 0;
  opacity: 0.25;
}

p.stars a:hover ~ a::before {
  content: "S";
  color: #404040;
  opacity: 0.25;
}

p.stars:hover a::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

p.stars.selected a.active::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

p.stars.selected a.active ~ a::before {
  content: "S";
  color: #404040;
  opacity: 0.25;
}

p.stars.selected a:not(.active)::before {
  content: "S";
  color: #4169e1;
  opacity: 1;
}

/**
 * Notifications woocommerce
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
  clear: both;
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  background-color: white;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
  border-radius: 0px 0px 10px 10px;
  font-size: 0.95em;
}
.woocommerce-message a,
.woocommerce-info a,
.woocommerce-error a {
  font-weight: 500;
  color: var(--color-texto-oscuro);
}

.woocommerce-info {
  border-top-color: dodgerblue;
}
.woocommerce-info:before {
  color: dodgerblue;
}

.woocommerce-error {
  border-top-color: #e2401c;
}
.woocommerce-error:before {
  color: #e2401c;
}

.woocommerce-message {
  border-top-color: var(--color-primario);
}
.woocommerce-message:before {
  color: var(--color-primario);
}

.woocommerce-store-notice.demo_store {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: unset;
  margin: 0;
  padding: 1em;
  z-index: 9999;
  display: block;
  position: fixed;
  border-top: 3px solid #f8f41e;
  background-color: #f8f41e;
  color: #222;
}
.woocommerce-store-notice.demo_store a {
  font-weight: 700;
  color: #222;
}

.woocommerce nav.woocommerce-pagination ul.page-numbers {
  border: 0;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li {
  border-right: 0;
  margin-right: 17px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: transparent;
  color: var(--color-texto-oscuro);
  border: 2px solid var(--color-secundario);
  border-radius: 10px;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers:hover {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li span.page-numbers.current {
  color: var(--color-texto-claro);
  background-color: var(--color-secundario);
  border-color: transparent;
}
.woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.prev, .woocommerce nav.woocommerce-pagination ul.page-numbers li .page-numbers.next {
  border-color: transparent;
  background-color: transparent;
  color: var(--color-texto-oscuro);
  transition: 0.3s ease-in-out;
}

/**
 * Tabs
 */
.woocommerce-tabs ul.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.woocommerce-tabs ul.tabs li {
  display: block;
  margin: 0;
  position: relative;
}

.woocommerce-tabs ul.tabs li a {
  padding: 1em 0;
  display: block;
}

.woocommerce-tabs .panel h2:first-of-type {
  margin-bottom: 1em;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
  text-align: right;
}

.woocommerce-password-strength.strong {
  color: #0f834d;
}

.woocommerce-password-strength.short {
  color: #e2401c;
}

.woocommerce-password-strength.bad {
  color: #e2401c;
}

.woocommerce-password-strength.good {
  color: #3d9cd2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
  box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
  box-shadow: inset 2px 0 0 #e2401c;
}

.required {
  color: #f00;
}

select {
  border: 1px solid #adadad;
}

.yikes-easy-mc-error-message,
.yikes-easy-mc-success-message {
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  margin-bottom: 1.4em;
  font-size: 0.9em;
}
.yikes-easy-mc-error-message .yikes-easy-mc-success-message,
.yikes-easy-mc-success-message .yikes-easy-mc-success-message {
  margin: 0;
  padding: 0;
}

iframe#tidio-chat-iframe {
  z-index: 80000 !important;
}

.xoo-wsc-container {
  z-index: 1099999999 !important;
}

.xoo-wsc-modal.xoo-wsc-cart-active .xoo-wsc-body .xoo-wsc-pname a {
  font-size: 0.93em;
  color: var(--color-secundario);
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

body.page, body.post {
  margin-bottom: 0;
}

.titulo-seccion {
  border-left: 8px solid;
  border-left-color: currentcolor;
  border-left-color: var(--color-primario);
  font-weight: 800;
  line-height: 0.8;
  padding-left: 10px;
  font-size: 1.7em;
  margin-bottom: 1em;
}

.select2-container .select2-selection--single {
  height: 38px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: 38px;
}

@media (max-width: 767px) {
  span.select2-container,
body.ui-widget.ui-datepicker {
    z-index: 800 !important;
  }

  span.select2-container.select2-container--open,
body.ui-widget.ui-datepicker {
    z-index: 99999999 !important;
  }
}
@media (max-width: 575px) {
  .titulo-seccion {
    font-size: 1.3em;
  }
}
.navegacion {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
  padding: 0.8em 0;
}
.navegacion .navegacion__logotipo img {
  max-width: 170px;
  height: auto;
}
.navegacion .navegacion__buscador {
  width: 100%;
  max-width: 450px;
  border-radius: 50px;
  overflow: hidden;
  margin-left: 20px;
}
.navegacion .navegacion__buscador input.aws-search-field {
  font-size: 0.98em;
  padding-left: 1.2em;
}
.navegacion .navegacion__buscador .aws-search-btn.aws-form-btn {
  background-color: #cecece;
  border: 0;
}
.navegacion .navegacion__buscador .aws-search-btn.aws-form-btn span {
  color: var(--color-texto-oscuro);
}
.navegacion .navegacion__buscador .aws-search-btn.aws-form-btn:hover {
  background-color: var(--color-primario-hover);
}
.navegacion .navegacion__menu {
  display: flex;
}
.navegacion #primary-menu.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navegacion #primary-menu.menu li {
  margin-right: 25px;
}
.navegacion #primary-menu.menu a {
  color: var(--color-texto-claro);
  text-decoration: none;
  font-size: 0.98em;
}
.navegacion #primary-menu.menu a:hover {
  opacity: 0.8;
}
.navegacion a.navegacion__carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--color-texto-oscuro);
  background-color: var(--color-primario);
  text-decoration: none;
  font-size: 1.4em;
  border-radius: 50px;
  height: 35px;
  width: 35px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}
.navegacion a.navegacion__carrito span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12px;
  right: -8px;
  height: 20px;
  width: 20px;
  font-size: 0.6em;
  font-weight: 600;
  padding: 0.4em;
  border-radius: 50px;
  background-color: crimson;
  color: var(--color-texto-claro);
}
.navegacion a.navegacion__carrito:hover {
  background-color: var(--color-primario-hover);
}

div.aws-search-result {
  border-radius: 10px !important;
  overflow: hidden;
}
div.aws-search-result .aws_search_more {
  font-weight: 600;
}

.navegacion-movil {
  background-color: var(--color-secundario);
  max-width: 90%;
  color: var(--color-texto-claro);
}
.navegacion-movil .offcanvas-body {
  position: relative;
}
.navegacion-movil .custom-logo {
  max-width: 150px;
  height: auto;
  margin-bottom: 1.5em;
}
.navegacion-movil .boton-cerrar {
  font-size: 1.5em;
  color: inherit;
}
.navegacion-movil ul {
  list-style-type: none;
  margin: 0;
  margin-top: 1.5em;
  padding: 0;
}
.navegacion-movil ul li {
  margin-bottom: 1.3em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.308);
}
.navegacion-movil ul li a {
  color: var(--color-texto-claro);
  text-decoration: none;
}
.navegacion-movil .redes-sociales {
  margin-top: 3em;
  position: absolute;
  bottom: 20px;
}
.navegacion-movil .redes-sociales a {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-texto-claro);
  margin-right: 15px;
  text-decoration: none;
  font-size: 1.1em;
}
.navegacion-movil .redes-sociales a:nth-of-type(1) {
  background-color: #255eda;
}
.navegacion-movil .redes-sociales a:nth-of-type(2) {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.navegacion-movil .redes-sociales a:nth-of-type(3) {
  background-color: #f71723;
}

@media (max-width: 1199px) {
  .navegacion .navegacion__wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 10px;
    padding-top: 0.4em;
  }
  .navegacion .navegacion__wrap .navegacion-carrito-container {
    justify-content: flex-end;
  }
  .navegacion .navegacion__wrap .navegacion__logotipo a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navegacion .navegacion__wrap .navegacion__logotipo a img {
    max-width: 120px;
  }
  .navegacion .navegacion__wrap .navegacion__toggler {
    color: var(--color-texto-claro);
    width: min-content;
    justify-self: flex-start;
    padding: 0;
    font-size: 1.5em;
  }
  .navegacion .navegacion__wrap .navegacion__toggler:focus, .navegacion .navegacion__wrap .navegacion__toggler:hover {
    outline: 0;
    border-color: transparent;
    box-shadow: none;
  }
  .navegacion .navegacion__buscador {
    max-width: 100%;
    margin-left: 0;
    margin-top: 0.9em;
  }
  .navegacion .navegacion__buscador .aws-search-form {
    height: 35px;
  }
}
.copyright {
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 0.6em;
  font-size: 0.8em;
  margin: 0;
}

.seccion-footer {
  background-color: var(--color-secundario);
}
.seccion-footer .footer__logo img {
  max-width: 180px;
}
.seccion-footer .footer-menu {
  border-left: 5px solid var(--color-primario);
  padding-left: 10px;
  list-style-type: none;
  margin-bottom: 0;
}
.seccion-footer .footer-menu li {
  margin-bottom: 0.6em;
  line-height: 1;
}
.seccion-footer .footer-menu a {
  text-decoration: none;
  color: var(--color-texto-claro);
  font-size: 0.9em;
}
.seccion-footer .footer-menu a:hover {
  opacity: 0.8;
}
.seccion-footer .footer-menu a:last-of-type {
  margin-bottom: 0;
}
.seccion-footer .redes-sociales {
  display: flex;
}
.seccion-footer .redes-sociales a {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario);
  color: var(--color-texto-claro);
  margin-right: 15px;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.6s ease-in-out;
}
.seccion-footer .redes-sociales a:nth-of-type(1) {
  background-color: #255eda;
}
.seccion-footer .redes-sociales a:nth-of-type(2) {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.seccion-footer .redes-sociales a:nth-of-type(3) {
  background-color: #f71723;
}
.seccion-footer .footer__medio-pago {
  max-width: 150px;
}

@media (max-width: 990px) {
  .seccion-footer .footer-menu {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
.seccion-categorias {
  margin-top: 5em;
  animation: fade-in-categorias 1s ease-in-out;
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
}
.seccion-categorias .categoria {
  position: relative;
  z-index: 2;
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.seccion-categorias .categoria .categoria__img {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.seccion-categorias .categoria .categoria__img img {
  min-height: 350px;
  max-height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(1.1);
}
.seccion-categorias .categoria .categoria__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 23px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.671));
}
.seccion-categorias .categoria .categoria__titulo {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-weight: 800;
  padding: 0 0.5em;
  color: var(--color-texto-claro);
  font-size: 1.4em;
}
.seccion-categorias .categoria .linea {
  display: block;
  position: absolute;
  bottom: 23px;
  left: 50%;
  border-bottom: 2px solid var(--color-primario);
  width: 0%;
  text-align: center;
  transform: translate(0%, -50%);
}
.seccion-categorias .categoria::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(124deg, #33ff00, #1ddbe8, #33ff00);
  background-size: 600% 600%;
  top: 7px;
  left: -7px;
  z-index: -1;
  border-radius: 20px;
  background-position: 0% 82%;
  transition: all 0.3s ease-in-out;
}
.seccion-categorias .categoria:hover::after {
  animation: fondo-neon 2s ease-in-out infinite;
  top: 4px;
  left: -4px;
}
.seccion-categorias .categoria:hover .linea {
  animation: line 0.4s ease-in-out forwards;
}
.seccion-categorias .categoria:hover .categoria__img img {
  transform: scale(1);
}
@keyframes fade-in-categorias {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.seccion-productos-destacados::after {
  clear: both;
  content: "";
  display: table;
}

.seccion-sobre-nosotros {
  width: 100%;
  padding: 2em;
  position: relative;
  margin-bottom: 4em;
  overflow-x: hidden;
  min-height: 750px;
}
.seccion-sobre-nosotros h2 {
  margin-top: 5em;
  text-align: center;
  font-weight: 800;
  color: gray;
}
.seccion-sobre-nosotros p {
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.seccion-sobre-nosotros .seccion-sobre-nosotros__img-izquierda,
.seccion-sobre-nosotros .seccion-sobre-nosotros__img-derecha {
  position: absolute;
  max-width: 550px;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: -1;
}
.seccion-sobre-nosotros .seccion-sobre-nosotros__img-izquierda {
  left: -210px;
}
.seccion-sobre-nosotros .seccion-sobre-nosotros__img-derecha {
  right: -210px;
}

.seccion-novedades .ver-mas-productos {
  border-radius: 50px;
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
  padding: 0.5em 1.4em;
  transition: background-color 0.4s ease-in-out;
}
.seccion-novedades .ver-mas-productos:hover {
  background-color: var(--color-secundario-hover);
}

.seccion-newsletter {
  width: 100%;
  position: relative;
  padding: 4em 0em;
  margin-top: 6em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: var(--color-texto-claro);
}
.seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form {
  display: flex;
  max-width: 500px;
  margin: auto;
}
.seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form .submit-button-inline-label {
  min-width: 120px;
}
.seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form .label-inline {
  padding: 0;
}
.seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form button {
  border-radius: 0px 50px 50px 0px;
  background-color: var(--color-primario);
  color: var(--color-texto-oscuro);
  border: 0;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form .yikes-easy-mc-email {
  height: 45px;
  padding-left: 20px;
}
.seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form input {
  border-radius: 50px 0px 0px 50px;
}
.seccion-newsletter .yikes-mailchimp-container .edit-link {
  display: block;
}
.seccion-newsletter .seccion-newsletter__contenido {
  position: relative;
  z-index: 2;
}
.seccion-newsletter .seccion-newsletter__titulo {
  font-weight: 800;
  font-size: 1.8em;
}
.seccion-newsletter .seccion-newsletter__bajada {
  font-size: 1.3em;
  margin-bottom: 1.2em;
}
.seccion-newsletter .seccion-newsletter__input {
  display: inline-flex;
  align-items: center;
  max-width: 500px;
  padding: 0 1em;
  width: 100%;
}
.seccion-newsletter .seccion-newsletter__input input, .seccion-newsletter .seccion-newsletter__input button {
  display: block;
  height: 40px;
}
.seccion-newsletter .seccion-newsletter__input input {
  max-width: 100%;
  width: 100%;
  padding: 0 1em;
  border-radius: 50px 0px 0px 50px;
}
.seccion-newsletter .seccion-newsletter__input input:focus-visible {
  outline: 0;
}
.seccion-newsletter .seccion-newsletter__input button {
  border-radius: 0px 50px 50px 0px;
  color: var(--color-texto-oscuro);
  background-color: var(--color-primario);
  border: 0;
}
.seccion-newsletter::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.829);
}

.seccion-productos-destacados,
.seccion-sobre-nosotros,
.seccion-novedades {
  opacity: 0;
  transition: all 1s ease-in-out;
  transform: translatey(50px);
}

.seccion-productos-destacados.fade-in-senzo,
.seccion-sobre-nosotros.fade-in-senzo,
.seccion-novedades.fade-in-senzo {
  transform: translatey(0);
  opacity: 1;
}

@media (max-width: 1190px) {
  .seccion-categorias .categoria {
    border-radius: 12px;
  }
  .seccion-categorias .categoria .categoria__img {
    border-radius: 12px;
  }
  .seccion-categorias .categoria .categoria__img img {
    object-fit: cover;
    min-height: 280px;
    width: 100%;
    object-position: center;
    transform: scale(1);
    border-radius: 12px;
  }
  .seccion-categorias .categoria .categoria__img::after {
    border-radius: 12px;
  }
  .seccion-categorias .categoria .categoria__titulo {
    font-size: 1.1em;
  }
  .seccion-categorias .categoria::after {
    top: 3px;
    left: -3px;
    border-radius: 12px;
  }

  .seccion-sobre-nosotros {
    padding: 8em 1em;
    min-height: auto;
  }
  .seccion-sobre-nosotros h2 {
    margin-top: 0;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__img-izquierda,
.seccion-sobre-nosotros .seccion-sobre-nosotros__img-derecha {
    max-width: 290px;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__img-izquierda {
    left: -100px;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__img-derecha {
    right: -100px;
  }
}
@media (max-width: 990px) {
  .seccion-sobre-nosotros {
    padding: 1em 1.3em;
    display: grid;
    grid-template-rows: 200px auto 200px;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__texto {
    grid-row: 2/3;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__texto h2 {
    margin-top: 0;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__img-izquierda,
.seccion-sobre-nosotros .seccion-sobre-nosotros__img-derecha {
    max-width: 260px;
    z-index: -1;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__img-izquierda {
    grid-row: 3/4;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__img-derecha {
    grid-row: 1/2;
  }
}
@media (max-width: 750px) {
  .seccion-sobre-nosotros p {
    font-size: 0.86em;
  }
  .seccion-sobre-nosotros .seccion-sobre-nosotros__img-izquierda,
.seccion-sobre-nosotros .seccion-sobre-nosotros__img-derecha {
    max-width: 200px;
    z-index: -1;
  }

  .seccion-newsletter {
    padding: 3em 0em;
  }
  .seccion-newsletter .seccion-newsletter__contenido {
    padding: 1em;
  }
  .seccion-newsletter .seccion-newsletter__titulo {
    font-size: 1.4em;
  }
  .seccion-newsletter .seccion-newsletter__bajada {
    font-size: 1.1em;
  }
  .seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form {
    display: block;
  }
  .seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form button, .seccion-newsletter .yikes-mailchimp-container .yikes-easy-mc-form input {
    border-radius: 50px;
  }
}
@keyframes line {
  from {
    left: 50%;
    width: 0%;
  }
  to {
    left: 15%;
    width: 70%;
  }
}
.pagina-tienda {
  margin-bottom: 3em;
}
.pagina-tienda .pagina-tienda__banner {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.3em 0em;
  margin-bottom: 2em;
  color: var(--color-texto-claro);
}
.pagina-tienda .pagina-tienda__banner h1 {
  font-weight: 700;
  position: relative;
  z-index: 3;
  margin: 0;
}
.pagina-tienda .pagina-tienda__banner::after {
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background: linear-gradient(to right, #000000db, #00000036);
}
.pagina-tienda .pagina-tienda__breadcrumb {
  margin-bottom: 2em;
  font-size: 1.2em;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area {
  background-color: white;
  box-shadow: 2px 2px 9px 3px #0000000a;
  border-radius: 6px;
  border: 1px solid #8080802b;
  padding: 1em;
  top: 100px;
  position: sticky;
  z-index: 590;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area .widget {
  border-bottom: 1px solid #0000001c;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area .widget:last-of-type {
  border-bottom: 0;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area h3 {
  font-size: 0.9em;
  font-weight: 700;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area h3 i {
  font-size: 0.9em;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area ul {
  padding-left: 1em;
  font-size: 0.9em;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area ul i {
  font-size: 0.86em;
  margin-left: 10px;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area ul li li input {
  width: 0.98em;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area .bapf_button, .pagina-tienda .pagina-tienda__sidebar .widget-area button {
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  border-width: 1px;
  border-color: #0000008f;
  font-size: 0.9em;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area .irs--round .irs-from,
.pagina-tienda .pagina-tienda__sidebar .widget-area .irs--round .irs-single,
.pagina-tienda .pagina-tienda__sidebar .widget-area .irs--round .irs-to {
  background-color: #222;
  color: white;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area .irs--round .irs-handle {
  border: 3px solid #222;
  background-color: #fff;
}
.pagina-tienda .pagina-tienda__sidebar .widget-area .irs--round .irs-bar {
  background-color: #1ef875;
}
.pagina-tienda .pagina-tienda__lista-productos .woocommerce-result-count {
  font-size: 0.95em;
}
.pagina-tienda .pagina-tienda__lista-productos .orderby {
  padding: 0.7em;
  font-size: 0.95em;
  border-radius: 6px;
}
.pagina-tienda .pagina-tienda__lista-productos ul.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2em;
  row-gap: 15px;
  column-gap: 15px;
}
.pagina-tienda .pagina-tienda__lista-productos ul.products li.product {
  width: 100%;
  margin-bottom: 0;
}

.pagina-tienda__sidebar-modal .widget {
  border-bottom: 1px solid #0000001c;
}
.pagina-tienda__sidebar-modal .widget:last-of-type {
  border-bottom: 0;
}
.pagina-tienda__sidebar-modal .widget button.bapf_button, .pagina-tienda__sidebar-modal .widget button {
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  font-size: 0.9em;
  color: black;
  border: 1px solid black;
}
.pagina-tienda__sidebar-modal .widget button.bapf_button:hover, .pagina-tienda__sidebar-modal .widget button:hover {
  background-color: unset;
  color: unset;
}
.pagina-tienda__sidebar-modal h3 {
  font-size: 0.9em;
  font-weight: 700;
}
.pagina-tienda__sidebar-modal h3 i {
  font-size: 0.9em;
}
.pagina-tienda__sidebar-modal ul {
  padding-left: 1em;
  font-size: 0.9em;
}
.pagina-tienda__sidebar-modal ul i {
  font-size: 0.86em;
  margin-left: 10px;
}
.pagina-tienda__sidebar-modal ul li {
  margin-bottom: 0.6em !important;
}
.pagina-tienda__sidebar-modal ul li li input {
  width: 0.98em;
}
.pagina-tienda__sidebar-modal .irs--round .irs-from,
.pagina-tienda__sidebar-modal .irs--round .irs-single,
.pagina-tienda__sidebar-modal .irs--round .irs-to {
  background-color: #222;
  color: white;
}
.pagina-tienda__sidebar-modal .irs--round .irs-handle {
  border: 3px solid #222;
  background-color: #fff;
}
.pagina-tienda__sidebar-modal .irs--round .irs-bar {
  background-color: #1ef875;
}

.btn-filtro-movil {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  left: 10px;
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, #29323c, #485563) repeat scroll 0% 0%;
  border: 0;
  box-shadow: rgba(41, 50, 60, 0.24) 0px 2px 12px;
}
.btn-filtro-movil i {
  color: var(--color-primario);
  font-size: 1.6em;
}

@media (max-width: 1190px) {
  .pagina-tienda .pagina-tienda__sidebar .widget-area {
    top: 140px;
  }
}
@media (max-width: 991px) {
  .pagina-tienda .pagina-tienda__banner {
    padding: 1.6em 0.5em;
    background-position: center;
  }
  .pagina-tienda .pagina-tienda__banner h1 {
    font-size: 1.6em;
  }
  .pagina-tienda .pagina-tienda__breadcrumb {
    margin-bottom: 1em;
  }
  .pagina-tienda .pagina-tienda__sidebar {
    margin-bottom: 3em;
  }
  .pagina-tienda .pagina-tienda__sidebar .widget-area {
    position: unset;
  }
  .pagina-tienda .pagina-tienda__lista-productos .woocommerce-ordering {
    float: none;
  }
  .pagina-tienda .pagina-tienda__lista-productos .orderby {
    width: 100%;
    font-size: 0.85em;
  }
  .pagina-tienda .pagina-tienda__lista-productos ul.products {
    grid-template-columns: 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
  }
}
.pagina-producto {
  padding: 2.5em 0;
  padding-bottom: 6em;
}
.pagina-producto .woocommerce-breadcrumb {
  max-width: 550px;
}
.pagina-producto div.product .onsale {
  background-color: red;
  border-radius: 50px;
  min-width: unset;
  min-height: unset;
  line-height: unset;
  font-size: 0.7em;
  padding: 0.5em 1em;
  top: 9px;
  left: 9px;
}
.pagina-producto div.product div.images.woocommerce-product-gallery {
  margin-bottom: 6em;
}
.pagina-producto div.product div.summary {
  margin: 0;
}
.pagina-producto div.product div.summary .product_title {
  font-size: 1.7em;
  margin-bottom: 0.3em;
}
.pagina-producto div.product div.summary .sku_wrapper {
  font-size: 0.88em;
}
.pagina-producto div.product div.summary .sku_wrapper span {
  font-weight: 700;
}
.pagina-producto div.product div.summary .price {
  font-size: 1.7em;
  color: red;
  font-weight: 700;
  margin: 1em 0;
}
.pagina-producto div.product div.summary .price del {
  font-size: 0.6em;
  color: #474646;
}
.pagina-producto div.product div.summary .price ins {
  text-decoration: none;
}
.pagina-producto div.product div.summary .stock.in-stock {
  margin-bottom: 0.5em;
  color: #555655;
}
.pagina-producto div.product div.summary .woocommerce-product-details__short-description {
  display: none;
}
.pagina-producto div.product div.summary form.cart div.quantity {
  margin-right: 10px;
  position: relative;
}
.pagina-producto div.product div.summary form.cart div.quantity input.qty {
  border-radius: 50px;
  padding: 0.4em 2em;
  padding-right: 1em;
  width: 120px;
  max-width: 120px;
  height: 45px;
  border: 1px solid #ccc;
}
.pagina-producto div.product div.summary form.cart div.quantity input.qty:focus-visible {
  outline: 0;
}
.pagina-producto div.product div.summary form.cart div.quantity .plus,
.pagina-producto div.product div.summary form.cart div.quantity .minus {
  position: absolute;
  right: 0;
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #ccc;
  border-left: 0;
  height: 45px;
  background-color: white;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  padding: 0;
  width: 40px;
}
.pagina-producto div.product div.summary form.cart div.quantity .plus i,
.pagina-producto div.product div.summary form.cart div.quantity .minus i {
  font-size: 0.9em;
  transition: font-weight 0.6s ease-in-out;
}
.pagina-producto div.product div.summary form.cart div.quantity .plus:hover i,
.pagina-producto div.product div.summary form.cart div.quantity .minus:hover i {
  font-weight: 700;
}
.pagina-producto div.product div.summary form.cart div.quantity .minus {
  left: 0;
  right: unset;
  border-radius: 50px 0px 0px 50px;
  border-right: 0;
}
.pagina-producto div.product div.summary form.cart button.single_add_to_cart_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario);
  color: var(--color-texto-oscuro);
  border-radius: 50px;
  padding: 0.9em 2.9em;
  font-size: 0.98em;
  transition: all 0.4s ease-in-out;
}
.pagina-producto div.product div.summary form.cart button.single_add_to_cart_button svg, .pagina-producto div.product div.summary form.cart button.single_add_to_cart_button i {
  font-size: 1.2em;
  margin-left: 0.5em;
}
.pagina-producto div.product div.summary form.cart button.single_add_to_cart_button:hover {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
}
.pagina-producto div.product div.summary form.cart a.added_to_cart {
  display: none;
}
.pagina-producto div.product div.summary form.cart.variations_form {
  display: flex;
  flex-direction: column;
}
.pagina-producto div.product div.summary form.cart.variations_form .variations {
  order: 1;
}
.pagina-producto div.product div.summary form.cart.variations_form .variations .label, .pagina-producto div.product div.summary form.cart.variations_form .variations .value {
  display: block;
}
.pagina-producto div.product div.summary form.cart.variations_form .variations .label .variation_name_label {
  font-size: 0.95em;
  font-weight: 500;
}
.pagina-producto div.product div.summary form.cart.variations_form .variations .value .attribute_peso, .pagina-producto div.product div.summary form.cart.variations_form .variations .value .attribute_peso-kg {
  display: flex;
  font-size: 0.96em;
}
.pagina-producto div.product div.summary form.cart.variations_form .single_variation_wrap {
  order: 0;
  width: 100%;
  margin-bottom: 2em;
}
.pagina-producto div.product div.summary form.cart.variations_form .single_variation_wrap .woocommerce-variation-price {
  font-size: 0.8em;
}
.pagina-producto div.product div.summary .posted_in {
  margin-top: 2em;
}
.pagina-producto div.product div.summary .posted_in a {
  display: inline-block;
  text-decoration: none;
  border: 3px solid var(--color-primario);
  border-radius: 50px;
  color: var(--color-texto-oscuro);
  font-size: 0.8em;
  margin-right: 10px;
  padding: 0.3em 1em;
  transition: all 0.4s ease-in-out;
}
.pagina-producto div.product div.summary .posted_in a:hover {
  transform: translateY(-5px);
  border-color: var(--color-primario-hover);
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper {
  margin-top: 4em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs {
  padding: 0;
  margin-bottom: 0;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li {
  margin: 0;
  margin-right: 2px;
  border-radius: 10px 10px 0px 0px;
  font-size: 0.95em;
  border-bottom: 0;
  background-color: transparent;
  padding: 0;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li a {
  padding: 0.5em 1em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li::after, .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li::before {
  content: unset;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.active {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li.active::after {
  box-shadow: unset;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs::before {
  content: unset;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel {
  background-color: white;
  box-shadow: 2px 10px 10px 2px #0000000f;
  border-radius: 0px 0px 10px 10px;
  padding: 1em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel h2 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-weight: 600;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel p {
  font-size: 0.95em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--additional_information table {
  font-size: 0.95em;
  margin-top: 1em;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .woocommerce-noreviews {
  background-color: transparent;
  color: gray;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond .comment-reply-title {
  margin-bottom: 1em;
  display: block;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond form .comment-form-author label,
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond form .comment-form-email label {
  display: block;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond form p.form-submit {
  text-align: end;
}
.pagina-producto div.woocommerce-tabs.wc-tabs-wrapper div.woocommerce-Tabs-panel--reviews .woocommerce-Reviews .comment-respond form p.form-submit input#submit.submit {
  background-color: var(--color-primario);
  border-radius: 50px;
  color: var(--color-texto-oscuro);
  font-size: 0.96em;
}
.pagina-producto .related.products ul li,
.pagina-producto .up-sells.upsells.products ul li {
  margin-bottom: 0;
}
.pagina-producto .related.products h2:not(.woocommerce-loop-product__title),
.pagina-producto .up-sells.upsells.products h2:not(.woocommerce-loop-product__title) {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.4em;
  border-left: 6px solid var(--color-primario);
  padding-left: 0.5em;
  line-height: 0.96;
  margin-top: 3em;
}

@media (max-width: 768px) {
  .pagina-producto div.product div.images.woocommerce-product-gallery {
    margin-bottom: 3em;
  }
  .pagina-producto div.product div.summary .product_title {
    font-size: 1.4em;
  }
  .pagina-producto div.product div.summary .price {
    font-size: 1.3em;
  }
  .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper {
    margin-top: 3em;
    font-size: 0.95em;
  }
  .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li {
    width: 100%;
    border-radius: 0;
  }
  .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li a {
    width: 100%;
  }
  .pagina-producto div.woocommerce-tabs.wc-tabs-wrapper ul.tabs.wc-tabs li:first-of-type {
    border-radius: 10px 10px 0px 0px;
  }
  .pagina-producto .related.products h2:not(.woocommerce-loop-product__title),
.pagina-producto .up-sells.upsells.products h2:not(.woocommerce-loop-product__title) {
    font-size: 1.2em;
  }
}
.page-finalizar-compra .site-main {
  margin-top: 2.5em;
  margin-bottom: 3em;
}
.page-finalizar-compra .site-main h1.entry-title {
  font-size: 2.2em;
  font-weight: 800;
  margin-top: 2em;
}
.page-finalizar-compra .site-main h3 {
  font-size: 1.2em;
  font-weight: 600;
}
.page-finalizar-compra .site-main .woocommerce form .form-row input.input-text,
.page-finalizar-compra .site-main .woocommerce form .form-row textarea {
  padding: 0.5em;
  font-size: 0.96em;
  margin-bottom: 0.5em;
}
.page-finalizar-compra .site-main #billing_first_name_field,
.page-finalizar-compra .site-main #billing_last_name_field {
  float: unset;
  width: 100%;
}
.page-finalizar-compra .site-main .woocommerce form .form-row label {
  font-size: 0.95em;
}
.page-finalizar-compra .site-main h3#order_review_heading {
  display: none;
}
.page-finalizar-compra .site-main .woocommerce-shipping-fields {
  margin-top: 2em;
}
.page-finalizar-compra .site-main .woocommerce-shipping-fields h3 {
  font-size: 1em;
}
.page-finalizar-compra .site-main #add_payment_method #payment,
.page-finalizar-compra .site-main .woocommerce-cart #payment,
.page-finalizar-compra .site-main .woocommerce-checkout #payment {
  background-color: #f7f7f7;
}
.page-finalizar-compra .site-main #add_payment_method #payment .wc_payment_methods .payment_method_flow_flow img,
.page-finalizar-compra .site-main .woocommerce-cart #payment .wc_payment_methods .payment_method_flow_flow img,
.page-finalizar-compra .site-main .woocommerce-checkout #payment .wc_payment_methods .payment_method_flow_flow img {
  max-width: 320px;
  height: auto;
  width: 100%;
}
.page-finalizar-compra .site-main .shop_table.woocommerce-checkout-review-order-table .product-name {
  max-width: 180px;
}
.page-finalizar-compra .site-main .woocommerce-terms-and-conditions-wrapper {
  font-size: 0.95em;
}
.page-finalizar-compra .site-main .woocommerce #payment #place_order,
.page-finalizar-compra .site-main .woocommerce-page #payment #place_order {
  background-color: var(--color-primario);
  color: var(--color-texto-oscuro);
  padding: 0.9em 2.2em;
  line-height: unset;
  border-radius: 50px;
  font-size: 1em;
  margin-top: 1em;
}
.page-finalizar-compra .site-main .woocommerce #payment #place_order:hover,
.page-finalizar-compra .site-main .woocommerce-page #payment #place_order:hover {
  background-color: var(--color-primario-hover);
}

@media (max-width: 768px) {
  .page-finalizar-compra .site-main h1.entry-title {
    font-size: 1.5em;
  }
  .page-finalizar-compra .site-main .woocommerce-info {
    font-size: 0.8em;
  }
  .page-finalizar-compra .site-main h3 {
    font-size: 1.3em;
  }
  .page-finalizar-compra .site-main .checkout.woocommerce-checkout {
    font-size: 0.9em;
  }
}
.woocommerce ul#shipping_method {
  font-weight: 500;
  font-size: 0.96em;
}

.page-mi-cuenta .site-main {
  padding: 2em 0;
  min-height: 80vh;
}
.page-mi-cuenta .site-main h1.entry-title {
  font-size: 2em;
  font-weight: 800;
  color: var(--color-texto-oscuro);
}
.page-mi-cuenta .site-main h2 {
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  color: var(--color-texto-oscuro);
  background-color: white;
  margin: 0;
  border: 1px solid #0a090933;
  border-bottom: 0;
  padding-top: 1em;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register {
  min-height: 370px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
  border: 1px solid #0a090933;
  border-top: 0;
  margin: 0;
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login label,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register label,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login label,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register label {
  font-size: 0.9em;
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login input,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register input,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login input,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register input {
  padding: 0.5em;
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login button,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register button,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login button,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register button {
  background-color: var(--color-primario);
  color: var(--color-texto-oscuro);
  border-radius: 50px;
  width: 100%;
  margin-top: 1em;
  line-height: unset;
  max-width: 300px;
  margin: auto;
  display: block;
  float: unset;
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login button:hover,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register button:hover,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login button:hover,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register button:hover {
  background-color: var(--color-primario-hover);
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login .woocommerce-form__label.woocommerce-form-login__rememberme,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login .mailchimp-newsletter,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register .woocommerce-form__label.woocommerce-form-login__rememberme,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register .mailchimp-newsletter,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login .woocommerce-form__label.woocommerce-form-login__rememberme,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login .mailchimp-newsletter,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register .woocommerce-form__label.woocommerce-form-login__rememberme,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register .mailchimp-newsletter {
  margin-bottom: 2em;
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login .woocommerce-LostPassword.lost_password,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register .woocommerce-LostPassword.lost_password,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login .woocommerce-LostPassword.lost_password,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register .woocommerce-LostPassword.lost_password {
  text-align: center;
  font-size: 0.9em;
  margin-top: 0.6em;
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login .woocommerce-LostPassword.lost_password a,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register .woocommerce-LostPassword.lost_password a,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login .woocommerce-LostPassword.lost_password a,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register .woocommerce-LostPassword.lost_password a {
  color: var(--color-secundario);
}
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login .woocommerce-privacy-policy-text,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register .woocommerce-privacy-policy-text,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login .woocommerce-privacy-policy-text,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register .woocommerce-privacy-policy-text {
  font-size: 0.9em;
}
.page-mi-cuenta .site-main .woocommerce-ResetPassword.lost_reset_password {
  max-width: 800px;
}
.page-mi-cuenta .site-main .woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row input {
  padding: 0.5em;
}
.page-mi-cuenta .site-main .woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row label {
  font-weight: 600;
}
.page-mi-cuenta .site-main .woocommerce-ResetPassword.lost_reset_password .woocommerce-form-row button {
  background-color: var(--color-primario);
  border-radius: 50px;
  color: var(--color-texto-oscuro);
  line-height: unset;
  padding: 0.6em 1.4em;
  margin-top: 2em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-navigation {
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 2px rgba(7, 7, 7, 0.07);
  position: sticky;
  top: 100px;
  border: 1px solid #80808026;
  overflow: hidden;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-navigation ul li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.199);
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-navigation ul li a {
  color: var(--color-texto-oscuro);
  text-decoration: none;
  font-size: 0.96em;
  display: block;
  padding: 0.8em 1em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-navigation ul li:last-of-type {
  border: 0;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-navigation ul li:last-of-type a {
  color: red;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-navigation ul li:hover {
  background-color: #e7e7e7;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-navigation ul li.is-active {
  background-color: var(--color-primario);
  font-weight: 500;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content {
  background-color: white;
  border-radius: 10px;
  padding: 1.4em;
  box-shadow: 6px 6px 10px 2px rgba(7, 7, 7, 0.07);
  border: 1px solid #80808026;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content table {
  border: 0;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content label {
  font-size: 0.95em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content input {
  padding: 0.4em;
  margin-bottom: 0.5em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content h3 {
  font-size: 1.3em;
  font-weight: 600;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-order-details, .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-customer-details {
  font-size: 0.95em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-order-details h2, .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-order-details .woocommerce-table--order-details, .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-order-details address, .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-customer-details h2, .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-customer-details .woocommerce-table--order-details, .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-customer-details address {
  text-align: start;
  box-shadow: unset;
  border-radius: 0;
  box-shadow: unset;
  border: 0;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-order-details h2, .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-customer-details h2 {
  margin-bottom: 0.5em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-orders-table {
  margin-bottom: 0;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-orders-table td {
  padding: 0.8em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a {
  background-color: dodgerblue;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a.cancel {
  background-color: gray;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a.pay {
  background-color: var(--color-primario);
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-EditAccountForm label {
  font-size: 0.95em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-EditAccountForm input {
  padding: 0.4em;
  margin-bottom: 0.5em;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-EditAccountForm fieldset legend {
  font-size: 1.3em;
  font-weight: 600;
}
.page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-EditAccountForm button {
  background-color: dodgerblue;
  float: right;
  color: white;
}

@media (max-width: 768px) {
  .page-mi-cuenta .site-main {
    padding: 2em 0;
  }
  .page-mi-cuenta .site-main h1.entry-title {
    font-size: 1.5em;
  }
  .page-mi-cuenta .site-main #customer_login .col-1,
.page-mi-cuenta .site-main #customer_login .col-2 {
    font-size: 0.95em;
  }
  .page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-login,
.page-mi-cuenta .site-main #customer_login .col-1 .woocommerce-form.woocommerce-form-register,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-login,
.page-mi-cuenta .site-main #customer_login .col-2 .woocommerce-form.woocommerce-form-register {
    min-height: unset;
  }
  .page-mi-cuenta .site-main #customer_login .col-2 {
    margin-top: 2em;
  }
  .page-mi-cuenta .site-main .woocommerce-MyAccount-navigation {
    position: unset;
    font-size: 0.96em;
    margin-bottom: 1em;
  }
  .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-orders-table {
    font-size: 0.95em;
  }
  .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-orders-table .woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions a {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-EditAccountForm {
    font-size: 0.95em;
  }
  .page-mi-cuenta .site-main .woocommerce-MyAccount-content .woocommerce-EditAccountForm button {
    max-width: 400px;
    width: 100%;
    margin: auto;
    float: unset;
  }
}
.page-carrito .site-main {
  padding: 2em 0;
  min-height: 80vh;
}
.page-carrito .site-main h1.entry-title {
  font-weight: 800;
  font-size: 2em;
}
.page-carrito .site-main .entry-content {
  margin-top: 0;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form,
.page-carrito .site-main .woocommerce .cart-collaterals {
  border-radius: 10px;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
  border: 1px solid #0a09090a;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form table.shop_table,
.page-carrito .site-main .woocommerce .cart-collaterals table.shop_table {
  border: 0;
  padding: 1em;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .woocommerce-shipping-totals.shipping th, .page-carrito .site-main .woocommerce .woocommerce-cart-form .order-total th, .page-carrito .site-main .woocommerce .woocommerce-cart-form .cart-subtotal th,
.page-carrito .site-main .woocommerce .cart-collaterals .woocommerce-shipping-totals.shipping th,
.page-carrito .site-main .woocommerce .cart-collaterals .order-total th,
.page-carrito .site-main .woocommerce .cart-collaterals .cart-subtotal th {
  width: unset;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form {
  font-size: 0.96em;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-remove a.remove {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeaea;
  margin: auto;
  font-size: 1.2em;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-remove a.remove:hover {
  background-color: red;
  color: white;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-thumbnail img {
  max-width: 50px;
  width: 100%;
  border-radius: 4px;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-name {
  max-width: 170px;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-name a {
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-secundario);
  text-decoration: underline;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity {
  max-width: 120px;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity {
  position: relative;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity input.qty {
  border-radius: 50px;
  padding: 0.4em 2em;
  padding-right: 1em;
  width: 100%;
  border: 1px solid #ccc;
  height: 40px;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity input.qty:focus-visible {
  outline: 0;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity .plus, .page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity .minus {
  position: absolute;
  right: 0;
  border-radius: 0px 50px 50px 0px;
  border: 1px solid #ccc;
  border-left: 0;
  height: 40px;
  background-color: white;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 600;
  padding: 0;
  width: 40px;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity .plus i, .page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity .minus i {
  font-size: 0.9em;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity .minus {
  left: 0;
  right: unset;
  border-radius: 50px 0px 0px 50px;
  border-right: 0;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .product-subtotal {
  font-size: 0.95em;
  font-weight: 600;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .actions .coupon input {
  max-width: 170px;
  width: 100%;
}
.page-carrito .site-main .woocommerce .woocommerce-cart-form .actions button:enabled {
  background-color: var(--color-secundario);
  color: white;
}
.page-carrito .site-main .woocommerce .cart-collaterals {
  padding: 1.5em;
  background-color: #faf9f9;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals {
  width: 100%;
  font-size: 0.97em;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals h2 {
  font-size: 1.2em;
  border-bottom: 2px solid black;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .cart-subtotal td,
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .order-total td {
  text-align: end;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .woocommerce-shipping-totals {
  font-size: 0.95em;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .woocommerce-shipping-totals .shipping-calculator-form {
  width: 100%;
  max-width: 200px;
  text-align: start;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .woocommerce-shipping-totals .shipping-calculator-form input, .page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .woocommerce-shipping-totals .shipping-calculator-form select {
  padding: 0.5em;
  background-color: white;
  border: 1px solid gray;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .shop_table {
  padding: 0;
  margin-top: 1em;
  font-size: 0.96em;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .shop_table .order-total {
  font-size: 1.1em;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout {
  padding-bottom: 0;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button {
  background-color: var(--color-primario);
  color: var(--color-texto-oscuro);
  border-radius: 50px;
  line-height: unset;
  font-size: 1em;
  padding: 0.7em;
  margin: 0;
}
.page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button:hover {
  background-color: var(--color-primario-hover);
}
.page-carrito .site-main .woocommerce .carrito-vacio__img {
  margin: auto;
  opacity: 0.2;
  max-width: 170px;
  position: relative;
  left: -18px;
  display: block;
}
.page-carrito .site-main .woocommerce .return-to-shop {
  grid-row: 4;
  grid-column: 1/3;
  text-align: center;
  margin-top: 1em;
}
.page-carrito .site-main .woocommerce .return-to-shop a {
  margin: auto;
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
  border-radius: 50px;
  padding: 0.5em 1.3em;
  line-height: unset;
}

@media (max-width: 1191px) {
  .page-carrito .site-main h1.entry-title {
    font-size: 1.5em;
  }
  .page-carrito .site-main .woocommerce {
    display: block;
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form {
    margin-bottom: 2em;
    font-size: 0.95em;
    margin-top: 1em;
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form .product-thumbnail {
    display: flex;
    justify-content: center;
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form .product-thumbnail:before {
    content: "";
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity {
    max-width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form .product-quantity div.quantity {
    margin-right: 0;
    max-width: 140px;
    width: 140px;
    float: right;
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form .actions {
    padding: 1em 0;
    background-color: transparent;
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form .actions .coupon input, .page-carrito .site-main .woocommerce .woocommerce-cart-form .actions .coupon button {
    max-width: 100%;
    width: 100%;
    float: unset;
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form .actions .coupon button {
    margin-top: 0.5em;
  }
  .page-carrito .site-main .woocommerce .cart-collaterals .woocommerce-shipping-totals {
    position: relative;
  }
  .page-carrito .site-main .woocommerce .cart-collaterals .woocommerce-shipping-totals [data-title=Envío] {
    padding-top: 40px;
  }
  .page-carrito .site-main .woocommerce .cart-collaterals .woocommerce-shipping-totals [data-title=Envío]::before {
    position: absolute !important;
    top: 10px;
    left: 10px;
  }
  .page-carrito .site-main .woocommerce .cart-collaterals .woocommerce-shipping-totals ul {
    text-align: start;
    padding-top: 40px !important;
  }
}
@media (max-width: 760px) {
  .page-carrito .site-main .woocommerce {
    display: block;
  }
  .page-carrito .site-main .woocommerce .woocommerce-cart-form .product-name {
    max-width: unset;
  }
  .page-carrito .site-main .woocommerce .cart-collaterals .cart_totals .woocommerce-shipping-totals .shipping-calculator-form {
    width: 100%;
    max-width: 260px;
  }
}
.page-finalizar-compra h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.woocommerce-order-overview {
  background-color: #f0efef;
  padding: 0.8em;
  border-radius: 10px;
}

.woocommerce-bacs-bank-details .wc-bacs-bank-details-heading {
  font-size: 1.3em;
  font-weight: 700;
}
.woocommerce-bacs-bank-details h3.wc-bacs-bank-details-account-name {
  font-size: 1em;
}
.woocommerce-bacs-bank-details .wc-bacs-bank-details.order_details.bacs_details {
  background-color: #f0efef;
  padding: 0.8em;
  border-radius: 0px 0px 10px 10px;
  border-top: 3px solid var(--color-primario);
  display: none;
}
.woocommerce-bacs-bank-details .wc-bacs-bank-details.order_details.bacs_details:first-of-type {
  display: block;
}

.woocommerce-order-details h2,
.woocommerce-customer-details h2,
.shop_table.order_details h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.woocommerce-order-details table.woocommerce-table--order-details, .woocommerce-order-details address,
.woocommerce-customer-details table.woocommerce-table--order-details,
.woocommerce-customer-details address,
.shop_table.order_details table.woocommerce-table--order-details,
.shop_table.order_details address {
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
  border: 1px solid #0a090933;
  font-size: 0.96em;
}
.woocommerce-order-details table.woocommerce-table--order-details a, .woocommerce-order-details address a,
.woocommerce-customer-details table.woocommerce-table--order-details a,
.woocommerce-customer-details address a,
.shop_table.order_details table.woocommerce-table--order-details a,
.shop_table.order_details address a {
  color: dodgerblue;
}
.woocommerce-order-details .woocommerce-column,
.woocommerce-customer-details .woocommerce-column,
.shop_table.order_details .woocommerce-column {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .page-finalizar-compra .site-main {
    font-size: 0.96em;
  }
  .page-finalizar-compra .site-main .woocommerce ul.order_details li {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
  }
  .page-finalizar-compra .site-main .woocommerce ul.order_details li strong {
    margin-top: 0.5em;
    margin-bottom: 1em;
  }
}
.error-404 {
  min-height: 80vh;
  text-align: center;
}
.error-404 .page-header {
  padding-top: 4em;
}
.error-404 .page-header .page-epigraphe {
  font-size: 3.9em;
  font-weight: 700;
  display: block;
}
.error-404 .page-header .page-title {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}
.error-404 .page-button {
  display: inline-block;
  border-radius: 50px;
  padding: 0.8em 2em;
  color: var(--color-texto-oscuro);
  background-color: var(--color-primario);
  text-decoration: none;
  font-weight: 500;
  margin-top: 0.8em;
}
.error-404 .page-button:hover {
  background-color: var(--color-primario-hover);
}

@media (max-width: 750px) {
  .error-404 {
    padding: 0 1em;
  }
  .error-404 .page-header .page-epigraphe {
    font-size: 2.5em;
  }
  .error-404 .page-header .page-title {
    font-size: 1.1em;
  }
}
.pagina-contacto .pagina-contacto__banner img {
  object-fit: cover;
  height: 180px;
  width: 100%;
}
.pagina-contacto .pagina-contacto__formulario {
  max-width: 500px;
  margin: auto;
  width: 100%;
  margin-top: -70px;
  background-color: white;
  box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
  border: 1px solid rgba(128, 128, 128, 0.178);
  padding: 1.8em;
  border-radius: 4px;
}
.pagina-contacto .pagina-contacto__formulario .pagina-contacto__titulo {
  font-weight: 600;
  font-size: 1.8em;
  text-align: center;
}
.pagina-contacto .pagina-contacto__formulario .pagina-contacto__bajada {
  text-align: center;
  font-size: 0.97em;
}
.pagina-contacto .pagina-contacto__formulario form label {
  font-size: 0.95em;
}
.pagina-contacto .pagina-contacto__formulario form label, .pagina-contacto .pagina-contacto__formulario form input, .pagina-contacto .pagina-contacto__formulario form textarea, .pagina-contacto .pagina-contacto__formulario form select {
  width: 100%;
}
.pagina-contacto .pagina-contacto__formulario form textarea {
  height: 100px;
  max-height: 2000px;
}
.pagina-contacto .pagina-contacto__formulario form select {
  padding: 0.5em;
}
.pagina-contacto .pagina-contacto__formulario form input[type=submit] {
  background-color: var(--color-primario);
  border-radius: 50px;
  border: 0;
  padding: 0.7em 1.4em;
}
.pagina-contacto .pagina-contacto__formulario form input[type=submit]:hover {
  background-color: var(--color-primario-hover);
}
.pagina-contacto .redes-sociales li a {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-texto-claro);
  margin-right: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: 0.6s ease-in-out;
}
.pagina-contacto .redes-sociales .facebook a {
  background-color: #255eda;
}
.pagina-contacto .redes-sociales .instagram a {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.pagina-contacto .redes-sociales .correo-electronico a {
  background-color: crimson;
}

@media (max-width: 575px) {
  .pagina-contacto .pagina-contacto__formulario {
    padding: 2em 1.4em;
  }
  .pagina-contacto .pagina-contacto__formulario .pagina-contacto__titulo {
    font-size: 1.6em;
  }
}

/*# sourceMappingURL=style.css.map */
