
.xoo-wsc-modal.xoo-wsc-cart-active {

    .xoo-wsc-body {

        .xoo-wsc-pname {
            
            a {
                font-size: 0.93em;
                color: var(--color-secundario);
            }
        }
    }
}