/**
 * Products
 */

.woocommerce {

	ul.products {
		margin: 0;
		padding: 0;
	
		li.product {
			list-style: none;
			position: relative;
			background-color:white;
			border-radius: 10px;
			padding: 1.3em;
			box-shadow: 0px 7px 12px -5px rgba(0, 0, 0, 0.281);
			border: 1px solid rgba(128, 128, 128, 0.178);
			transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
	 
	
			.woocommerce-loop-product__link {
				text-decoration: none;
				color: var(--color-texto-oscuro);
			}
	
			img {
				display: block;
				margin: auto;
			}

			span.onsale {
				position: absolute;
				right: 15px;
				top: 15px;
				background-color: red;
				color: var(--color-texto-claro);
				border-radius: 50px;
				font-size: 0.8em;
				font-weight: 700;
				padding: 0.3em 0.9em;
				min-height: unset;
				line-height: unset;
	
			}
	
			h2.woocommerce-loop-product__title {
				font-size: 0.97em;
				margin: 1.4em 0em 1em 0em;
				margin-bottom: 0.4em;
				text-align: center;
				min-height: 55px;
			}
	
			span.price {
				display: block;
				text-align: center;
				font-weight: 800;
				font-size: 0.99em;
				color: var(--color-texto-oscuro);
	
				del {
					font-size: 0.9em;
					font-weight: 500;
				}

				ins {
					text-decoration: none;
				}
			}
	
			.button {
				margin-top: 1.4em;
				padding: 0.6em 0.9em;
				border-radius: 50px;
				background-color: var(--color-primario);
				text-align: center;
				color: var(--color-texto-oscuro);
				text-decoration: none;
				transition: background-color 0.3s ease-in-out;
				font-size: 0.86em;
				line-height: unset;
				width: 100%;
	
				&:hover {
					background-color: var(--color-primario-hover);
				}
			}
	
			a.added_to_cart {
				display: block;
				margin: auto;
				margin-top: 0.8em;
				text-align: center;
				color: var(--color-texto-oscuro);
				text-decoration: none;
				font-size: 0.96em;
	
				&:hover {
					text-decoration: underline;
				}
			}
	
			&:hover {
				box-shadow: unset;
				transform: scale(0.99);
			}
		}
	
		&::before {
			content: unset;
			display: unset;
		}
	}
}

@media (max-width:1190px) {

    .woocommerce {

        ul.products {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
    
            li.product {
                margin-bottom: 0;
                width: 100% !important;
    
                span.onsale {
                    font-size: 0.7em;
                }

				h2.woocommerce-loop-product__title {
                    font-size: 0.95em;
                }
    
                span.price {
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media (max-width:760px) {
	
    .woocommerce {

		ul.products[class*="columns-"] li.product, 
		.woocommerce-page ul.products[class*="columns-"] li.product {
			margin-bottom: 0;
		}

        ul.products {
            grid-template-columns: 1fr 1fr;
			row-gap: 9px;
			column-gap: 9px;

            li.product {
				padding: 1em 0.5em;

				h2.woocommerce-loop-product__title {
					font-size: 0.83em;
					text-align: start;
				}

                .button, a.added_to_cart {
                    font-size: 0.85em;
 
                }
            }
        }
    }

}
