
@import './01-shop-tables';
@import './02-products';
@import './03-single-product';
@import './04-checkout';
@import './05-star-rating';
@import './06-notifications';
@import './07-pagination';
@import './08-tabs';
@import './09-forms';


// Newsleter pluging notifications
.yikes-easy-mc-error-message,
.yikes-easy-mc-success-message{
	border-radius: 10px;
	max-width: max-content;
	margin: auto;
	margin-bottom: 1.4em;
	font-size: 0.9em;

	.yikes-easy-mc-success-message {
		margin: 0;
		padding: 0;
	}
}


// Tidio chat plugin
iframe#tidio-chat-iframe {
	z-index: 80000 !important;
}


// Side cart woocommerce pluging
.xoo-wsc-container {
	z-index: 1099999999 !important;
}