body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

body.page, body.post {
    margin-bottom: 0;
}


.titulo-seccion {
    border-left: 8px solid;
    border-left-color: currentcolor;
    border-left-color: var(--color-primario);
    font-weight: 800;
    line-height: 0.8;
    padding-left: 10px;
    font-size: 1.7em;
    margin-bottom: 1em;
}



.select2-container {
            
    .select2-selection--single {
        height: 38px;

        .select2-selection__rendered {
            line-height: 38px;
        }

        .select2-selection__arrow {
            height: 38px;
        }
    }
}

@media(max-width: 767px) {
    
    // Modifical elevado z-index de select 2
    span.select2-container, 
    body.ui-widget.ui-datepicker {
        z-index: 800 !important;
    }

    span.select2-container.select2-container--open, 
    body.ui-widget.ui-datepicker {
        z-index: 99999999 !important;
    }
}

@media(max-width: 575px) {

    .titulo-seccion {
        font-size: 1.3em;
    }
}