
.copyright {
    background-color: #141414;
    color: white;
    text-align: center;
    padding: 0.6em;
    font-size: 0.8em;
    margin: 0;
}

.seccion-footer {
    background-color: var(--color-secundario);

    .footer__logo {

        img {
            max-width: 180px;
        }
    }

    .footer-menu {
        border-left: 5px solid var(--color-primario);
        padding-left: 10px;
        list-style-type: none;
        margin-bottom: 0;

        li {
            margin-bottom: 0.6em;
            line-height: 1;
        }

        a {
            text-decoration: none;
            color: var(--color-texto-claro);
            font-size: 0.9em;

            &:hover {
                opacity: 0.8;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .redes-sociales {
        display: flex;

        a {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-primario);
            color: var(--color-texto-claro);
            margin-right: 15px;
            text-decoration: none;
            font-size: 1.2em;
            transition: 0.6s  ease-in-out;

            &:nth-of-type(1) {
                background-color: rgb(37, 94, 218);
            }

            &:nth-of-type(2) {
                background: radial-gradient(circle at 30% 107%, 
                #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }

            &:nth-of-type(3) {
                background-color: rgb(247, 23, 35);
            }
        }
    }

    .footer__medio-pago {
        max-width: 150px;
    }
}

@media(max-width:990px) {

    .seccion-footer {

        .footer-menu {
            border: 0;
            margin: 0;
            padding: 0;
            text-align: center;;
        }
    }
}