

.navegacion {
    background-color: var(--color-secundario);
    color: var(--color-texto-claro);
    padding: 0.8em 0;

    .navegacion__logotipo {
        
        img {
            max-width: 170px;
            height: auto;
        }
    }

    .navegacion__buscador {
        width: 100%;
        max-width: 450px;
        border-radius: 50px;
        overflow: hidden;
        margin-left: 20px;

        input.aws-search-field {
            font-size: 0.98em;
            padding-left: 1.2em;
        }

        .aws-search-btn.aws-form-btn {
            background-color: #cecece;
            border: 0;

            span {
                color: var(--color-texto-oscuro);
            }

            &:hover {
                background-color: var(--color-primario-hover);
            }
        }
    }


    .navegacion__menu {
        display: flex;
    }

    #primary-menu.menu  {

        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-right: 25px;
        }

        a {
            color: var(--color-texto-claro);
            text-decoration: none;
            font-size: 0.98em;

            &:hover {
                opacity: 0.8;
            }
        }

    }

    a.navegacion__carrito {
        @include  align-flex(centro);
        position: relative;
        color: var(--color-texto-oscuro);
        background-color: var(--color-primario);
        text-decoration: none;
        font-size: 1.4em;
        border-radius: 50px;
        height: 35px;
        width: 35px;
        cursor: pointer;
        transition: background-color 0.4s ease-in-out;

        span {
            @include  align-flex(centro);
            position: absolute;
            top: -12px;
            right: -8px;
            height: 20px;
            width: 20px;
            font-size: 0.6em;
            font-weight: 600;
            padding: 0.4em;
            border-radius: 50px;
            background-color: crimson;
            color: var(--color-texto-claro);
        }

        &:hover {
            background-color: var(--color-primario-hover);
        }
    }
}

div.aws-search-result {
    border-radius: 10px !important;
    overflow: hidden;

    .aws_search_more {
        font-weight: 600;
    }
}


.navegacion-movil {
    background-color: var(--color-secundario);
    max-width: 90%;
    color: var(--color-texto-claro);

    .offcanvas-body {
        position: relative;
    }

    .custom-logo {
        max-width: 150px;
        height: auto;
        margin-bottom: 1.5em;
    }

    .boton-cerrar {
        font-size: 1.5em;
        color: inherit;
    }

    ul {
        list-style-type: none;
        margin: 0;
        margin-top: 1.5em;
        padding: 0;

        li {
            margin-bottom: 1.3em;
            border-bottom: 1px solid rgba(128, 128, 128, 0.308);

            a {
                color: var(--color-texto-claro);
                text-decoration: none;
            }
        }
    }

    .redes-sociales {
        margin-top: 3em;
        position: absolute;
        bottom: 20px;

        a {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-texto-claro);
            margin-right: 15px;
            text-decoration: none;
            font-size: 1.1em;

            &:nth-of-type(1) {
                background-color: rgb(37, 94, 218);
            }

            &:nth-of-type(2) {
                background: radial-gradient(circle at 30% 107%, 
                #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
            }

            &:nth-of-type(3) {
                background-color: rgb(247, 23, 35);
            }
        }
    }
}

@media(max-width: 1199px) {

    .navegacion {

        .navegacion__wrap {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-right: 10px;
            padding-top: 0.4em;

            .navegacion-carrito-container {
                justify-content: flex-end;
            }

            .navegacion__logotipo a {
                @include align-flex(centro);

                img {
                    max-width: 120px;
                }
            }

            .navegacion__toggler {
                color: var(--color-texto-claro);
                width: min-content;
                justify-self: flex-start;
                padding: 0;
                font-size: 1.5em;

                &:focus, &:hover {
                    outline: 0;
                    border-color: transparent;
                    box-shadow: none;
                }
            }
        }

        .navegacion__buscador {
            max-width: 100%;
            margin-left: 0;
            margin-top: 0.9em;

            .aws-search-form {
                height: 35px;
            }
        }
    }
}